body{
    background-color: #efefef;
}
.main{
    margin: 30px;
    background-color: white;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.img{
    width: 40px;
    height: 40px;
}
.desc{
    font-size: xx-small;
    color: #b7b5b5;
}
.temp-btn{
    width: 100px;
    height: 30px;
    font-size: 14px;
    color: #2ab5da;
    margin: 5px;
}

.setion{
    margin-top: 25px;
}

.row{
    margin-top: 5px;
}