<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>数据复核</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap-table.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/grade.js"></script>
    <script src="/js/bootstrap-table.js"></script>
    <script src="/js/bootstrap-table-zh-CN.js"></script>
    <link rel="stylesheet" href="/css/hospital.css">
    <script src="https://use.fontawesome.com/38f0aa120f.js"></script>
</head>
<body>
<div th:replace="navigation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="col-xs-12 col-md-12" style="background-color: #e0f3f8">
                <div  style="padding: 10px">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">随访组名称</div>
                                    <select class="form-control" id="control_group">
                                        <option value="">请选择</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-lg-offset-1">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">患者</div>
                                    <input type="text" class="form-control" placeholder="Amount">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-lg-offset-1">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">数据项</div>
                                    <input type="text" class="form-control" placeholder="Amount">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 20px">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">质疑者</div>
                                    <input type="text" class="form-control" placeholder="Amount">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-lg-offset-1">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">复核者</div>
                                    <input type="text" class="form-control" placeholder="Amount">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-lg-offset-1">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">复核时间</div>
                                    <input type="text" class="form-control" placeholder="Amount">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 20px">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">表单名称</div>
                                    <select class="form-control">
                                        <option value="">请选择</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-lg-offset-1">
                            <div class="form-group">
                                <div class="input-group">
                                    <label>状态:</label>
                                    <label class="checkbox-inline">
                                        <input type="radio" name="state" value="1">待复核
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="radio" name="state" value="0">已修正
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="radio" name="state" value="" checked>撤回
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-lg-offset-1" style="padding-left: 170px;">
                            <button type="reset" class="btn btn-info" onclick="empty()">清空</button>
                            <button type="submit" class="btn btn-info" id="search">检索</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="tableL01"></table>
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">复核明细</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">提出人</div>
                                <input type="text" class="form-control"  placeholder="Amount">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">提出时间</div>
                                <input type="date" class="form-control"  placeholder="Amount">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-11">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">修改为</div>
                                <input type="text" class="form-control" placeholder="Amount">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-11">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">修改意见</div>
                                <textarea type="text" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info">保存</button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(function () {
        selectDiceionary();
        selectHospital();
        selectLevel1();
        selectdepartment1();
        edit();
        var tableColumns = [
            {checkbox: true},
            {field: 'groupId',title:'随访组名称',align:'center', sortable: true},
            {field: 'groupName', title: '表单',align:'center', sortable: true},
            {field: 'groupNum', title: '数据项',align:'center', sortable: true},
            {field: 'groupPrincipal', title: '患者',align:'center' ,sortable: true},
            {field: 'groupState', title: '值',align:'center', sortable: true},
            {field: 'dictionaryName', title: '质疑者',align:'center', sortable: true},
            {field: 'dictionaryName', title: '复核者',align:'center', sortable: true},
            {field: 'dictionaryName', title: '状态',align:'center', sortable: true},
            {field: 'dictionaryName', title: '复核时间',align:'center', sortable: true},
            {field: 'groupStartTime', title: '复核',align:'center',formatter:function () {
                    return '<button type="button" class="RoleOfA btn btn-default btn-sm" data-toggle="modal" data-target="#myModal""><i class="fa fa-search"></i></button>';
                }}];

        $('#tableL01').bootstrapTable('destroy');   //动态加载表格之前，先销毁表格

        $('#tableL01').bootstrapTable({//表格初始化
            columns: tableColumns,  //表头
            /*data:data1, //通过ajax返回的数据*/
            url:'findAllGroups',
            method: 'get',
            pageNumber: 1,
            cache: false,
            striped: true,
            pagination: true,
            sidePagination: 'client',
            pageSize: 5,//单页记录数
            pageList: [5, 10, 20, 30],//可选择单页记录数
            search: false,
            theadClasses: "thead-blue",
            showRefresh: false,
            showExport: false,
            showFooter: true,
            clickToSelect: true,
            toolbar:'#toolbar',
            /*onClickRow: function(params){
                var groupId=params.groupId;
                location.href="/one?groupId="+groupId;
            },*/
            queryParams: function queryParams(params){
                var param = {
                    groupPrincipal:$("#groupPrincipal").val(),
                    dictionaryId:$("#dictionaryName").val(),
                    groupState:$("#groupState").val(),
                    time1:$("#time1").val(),
                    time2:$("#time2").val(),
                };
                return param;
            }

        })
        $(document).on('click', "#search",function(){
            $('#tableL01').bootstrapTable('refresh');
        });
    })
    //科室查询
    function selectDiceionary(){
        $.get("findAllDepartment",{},function(rs){
            if(rs !=null){
                var aa=$("#dictionaryName");
                for(var i=0;i<rs.length;i++){
                    var varoption=$("<option value="+rs[i].dictionaryId+">"+rs[i].dictionaryName+"</option>");
                    aa.append(varoption);
                }
            }
        })
    }
    //搜索框清空
    function empty(){
        $("#groupPrincipal").val("");
        $("#dictionaryName").val("");
        $("#groupState").val("");
        $("#time1").val("");
        $("#time2").val("");
        $("input[name='btSelectAll']").prop("checked",false);
        $("input[name='btSelectItem']").prop("checked",false);
    }
    //批量删除
    function remove(){
        if(!confirm("是否确认删除？"))
            return ;
        var  rows=$("#tableL01").bootstrapTable('getSelections')//要删除的数据
        if(rows.length == 0){
            alert("请选择要删除的记录！");
            return ;
        }else {
            var ids="";
            $(rows).each(function(){
                ids+=this.groupId+",";
            });
            $.ajax({
                url:"removeById",
                data:{"ids":ids},
                type:"post",
                success:function(data){
                    $("#tableL01").bootstrapTable('refresh', data);

                }
            })
        }

    }
    //医院查询
    function selectHospital(){
        $.get("findAllHospital",{},function(rs){
            if (rs !=null){
                var hospital1=$("#hospital1");
                for(var i=0;i<rs.length;i++){
                    var varoption=$("<option value="+rs[i].dictionaryId  +">"+rs[i].dictionaryName+"</option>")
                    hospital1.append(varoption);
                }
            }
        })
    }
    //查询级别
    function selectLevel1(){
        $.get("findAllLeavl",{},function(rs){
            if(rs!=null){
                var leavel=$("#level1");
                for(var i=0;i<rs.length;i++){
                    var varoption=$("<option value="+rs[i].dictionaryId  +">"+rs[i].dictionaryName+"</option>")
                    leavel.append(varoption);
                }
            }
        })
    }
    //查询科室1
    function selectdepartment1(){
        $.get("findAllDepartment",{},function(rs){
            if(rs !=null){
                var departement=$("#department1");
                for(var i=0;i<rs.length;i++){
                    var varoption=$("<option value="+rs[i].dictionaryId+">"+rs[i].dictionaryName+"</option>");
                    departement.append(varoption);
                }
            }
        })
    }
    //编辑回显
    function edit(){
        var edit=$("#edit");
        edit.click(function(){
            var info =$('#tableL01').bootstrapTable('getSelections');
            if(info.length!=1){
                alert("请选择一条数据!")
            }else{
                $('#myModal').modal('toggle');
                $("#head").val(info[0].groupPrincipal);
                $("#group_name").val(info[0].groupName);
                $("#phone").val(info[0].groupPhone);
                $("#issue_number").val(info[0].groupNum);
                $("#number_patients").val(info[0].patientNum);
                $("#background").val(info[0].background);
                $("#start_time").val(info[0].groupStartTime);
                $("#end_time").val(info[0].groupEndTime);
                $(function(){
                    var depement=info[0].groupDepartmentId;
                    var hospital1=info[0].groupHospitalId;
                    var level1=info[0].groupRankId;
                    var groupState=info[0].groupState;
                    var controlGroup=info[0].controlGroup;
                    //科室选中
                    $("#department1").children("option").each(function(){
                        var text=$(this).val();
                        if(depement==text){
                            $(this).attr("selected","selected");
                        }
                    })
                    //医院选中
                    $("#hospital1").children("option").each(function(){
                        var text=$(this).val();
                        if (hospital1==text){
                            $(this).attr("selected","selected");
                        }
                    })
                    //级别选中
                    $("#level1").children("option").each(function(){
                        var text=$(this).val();
                        if (level1==text){
                            $(this).attr("selected","selected");
                        }
                    })
                    //状态选中
                    $("#state").children("option").each(function(){
                        var text=$(this).val();
                        if (groupState==text){
                            $(this).attr("selected","selected");
                        }
                    })
                    //类型选中
                    $("#control_group").children("option").each(function(){
                        var text=$(this).val();
                        if (controlGroup==text){
                            $(this).attr("selected","selected");
                        }
                    })
                })
            }


        })
    }
    //保存修改
    function save(){
        var info =$('#tableL01').bootstrapTable('getSelections')[0];
        var groupId=info.groupId;
        var groupHospitalId=$("#hospital1").val();
        var groupDepartmentId=$("#department1").val();
        var groupPrincipal=$("#head").val();
        var groupRankId=$("#level1").val();
        var groupName=$("#group_name").val();
        var groupPhone=$("#phone").val();
        var groupState=$("#state").val();
        var groupStartTime=$("#start_time").val();
        var groupEndTime=$("#end_time").val();
        var groupNum=$("#issue_number").val();
        var patientNum=$("#number_patients").val();
        var controlGroup=$("#control_group").val();
        var background=$("#background").val();
        $.get("changeOne",{
            "groupId":groupId,
            "groupHospitalId":groupHospitalId,
            "groupDepartmentId":groupDepartmentId,
            "groupPrincipal":groupPrincipal,
            "groupRankId":groupRankId,
            "groupName":groupName,
            "groupPhone":groupPhone,
            "groupState":groupState,
            "groupStartTime":groupStartTime,
            "groupEndTime":groupEndTime,
            "groupNum":groupNum,
            "patientNum":patientNum,
            "controlGroup":controlGroup,
            "background":background,
        },function(rs){
            if(rs=1){
                $("#myModal").modal('hide')//取消模态框
                $("#tableL01").bootstrapTable('refresh', rs);
            }
        })
    }

</script>

</html>