<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>诊疗方案</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap-table.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-table.js"></script>
    <script src="/js/bootstrap-table-zh-CN.js"></script>
    <link rel="stylesheet" href="/css/hospital.css">
    <link rel="stylesheet" href="/css/selectcheck.css">
    <script src="/js/selectcheck.js"></script>
    <script src="https://use.fontawesome.com/38f0aa120f.js"></script>
</head>
<style>
    textarea{
        width: 393px;
        height: 90px;
    }
    .btnrow{
        padding-top: 10px;
        padding-left: 35px;
    }
    .btn-info{
        width: 100px;
    }
    input::-ms-input-placeholder{
        text-align: center;
    }
    input::-webkit-input-placeholder{
        text-align: center;
    }
</style>
<body>
<div th:replace="navigation :: nav"></div>
<div class="container-fluid main" >
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div style="padding-top: 20px">
                <a href="javascript:history.back(-1)"><span class="glyphicon glyphicon-arrow-left"></span>返回随访组</a>
                <h3 align="center">诊疗方案</h3>
                <hr>
            </div>
        </div>
        <div class="col-xs-12 col-md-12" >
            <div class="col-xs-2" id="btnContainer" style="border-right-style: solid;border-color: #e1e1e1;height: 590px" >
                <div class="btnrow" >
                    <button id="programmeName" type="button" value="list" class="btn btn-info planBtn"></button>
                </div>
                <div class="btnrow">
                    <button id="addPlan" type="button" class="btn btn-info"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="col-xs-9" id="planContainer" style="height: 500px;margin-top: 20px" >
                <div id="list" style="display: block" >
                    <form action="savePlan">
                        <input id="pid" type="hidden" name="programmeId" >
                        <table border="1" align="center">
                            <tr>
                                <td colspan="2" align="center">
                                    <input id="fangan" placeholder="" name="programmeName">
                                    <button type="submit" class="btn btn-info btn-sm">保存</button>
                                </td>
                            </tr>
                            <tr style="height: 70px">
                                <td width="150px">1.用药</td>
                                <td width="400px">
                                    <select id="organId" name="medicationDictionaryId" multiple="multiple" class="medication">
                                    </select>
                                </td>
                            </tr>
                            <tr style="height: 70px">
                                <td>2.检验</td>
                                <td>
                                    <select id="inspection" name="testDictionaryId" multiple="multiple" class="inspection">
                                    </select>
                                </td>
                            </tr>
                            <tr style="height: 70px">
                                <td>3.检查</td>
                                <td>
                                    <select id="check" name="checkedDictionaryId" multiple="multiple" class="check">
                                    </select>
                                </td>
                            </tr>
                            <tr style="height: 100px">
                                <td>4.治疗</td>
                                <td>
                                    <textarea id="treatment" name="treatment"></textarea>
                                </td>
                            </tr>
                            <tr style="height: 100px">
                                <td>5.手术</td>
                                <td>
                                    <textarea id="operation" name="operation"></textarea>
                                </td>
                            </tr>
                            <tr style="height: 100px">
                                <td>6.通知</td>
                                <td>
                                    <textarea id="notice" name="notice"></textarea>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
<script>
    $(function () {
        var departmentId=11509;
        $.post("findAllProgramme",{"departmentId":departmentId},function (res) {
            for (var i = 0; i <res.length ; i++) {
                var count=res[i].programmeName;
                var programmeId = res[i].programmeId;
                var medication1 = res[0].medicationList;
                var test1 = res[0].testList;
                var checked1 = res[0].checkedList;
                var treatment1 = res[0].treatment;
                var operation1 = res[0].operation;
                var notice1  = res[0].notice;
                if(i==0){
                    $("#programmeName").html(count);
                    $("#pid").val(programmeId);
                    $("#fangan").attr("placeholder",count);
                    $("#treatment").html(treatment1);
                    $("#operation").html(operation1);
                    $("#notice").html(notice1);
                    $.get("/findPlan",{},function (result) {
                        for (var i = 0; i <result.length ; i++) {
                            if(result[i].oneId==14000){
                                $(".medication").append("<option value='"+result[i].dictionaryId+"'>"+result[i].dictionaryName+"</option>")
                                for (var j = 0; j <medication1.length ; j++) {
                                    if (result[i].dictionaryId==medication1[j].medicationDictionaryId){
                                        var medicationDictionaryId =result[i].dictionaryId;
                                       $(".medication option[value='"+medicationDictionaryId+"']").attr("selected","selected");
                                    }
                                }
                            }
                            if(result[i].oneId==15000){
                                $(".inspection").append("<option value='"+result[i].dictionaryId+"'>"+result[i].dictionaryName+"</option>")
                                for (var k = 0; k <test1.length ; k++) {
                                    if (result[i].dictionaryId==test1[k].testDictionaryId){
                                        var testDictionaryId =result[i].dictionaryId;
                                        $(".inspection option[value='"+testDictionaryId+"']").attr("selected","selected");
                                    }
                                }
                            }
                            if (result[i].oneId==16000){
                                $(".check").append("<option value='"+result[i].dictionaryId+"'>"+result[i].dictionaryName+"</option>")
                                for (var j = 0; j <checked1.length ; j++) {
                                    if (result[i].dictionaryId==checked1[j].checkedDictionaryId){
                                        var checkedDictionaryId =result[i].dictionaryId;
                                        $(".check option[value='"+checkedDictionaryId+"']").attr("selected","selected");
                                    }
                                }
                            }
                        }
                        $("#organId").fSelect();
                        $("#inspection").fSelect();
                        $("#check").fSelect();
                    });

                }else{
                    var medication = res[i].medicationList;
                    var test = res[i].testList;
                    var checked = res[i].checkedList;

                    $("#addPlan").parent().before("<div class=\"btnrow\">\n" +
                        "                    <button type=\"button\" value='list"+count+"' class=\"btn btn-info planBtn\">"+count+"</button>\n" +
                        "                </div>");
                    $("#planContainer").append("<div id='list"+count+"' style=\"display: block\">\n" +
                        "                 <form action=\"savePlan\">\n" +
                        "                    <iinput id='pid"+count+"' value='"+programmeId+"' type=\"hidden\" name=\"programmeId\">\n" +
                        "                    <table border=\"1\" align=\"center\">\n" +
                        "                       <tr>\n" +
                        "                         <td colspan=\"2\" align=\"center\">\n" +
                        "                            <input placeholder='"+count+"'   name=\"programmeName\">\n"+
                        "                            <button type=\"submit\" class=\"btn btn-info btn-sm\">保存</button>\n" +
                        "                           </td>\n" +
                        "                        </tr>\n" +
                        "                        <tr style=\"height: 70px\">\n" +
                        "                            <td width=\"150px\">1.用药</td>\n" +
                        "                            <td width=\"400px\">\n" +
                        "                                <select id='organId"+count+"' name=\"medicationDictionaryId\" multiple=\"multiple\" class='medication"+count+"'>\n" +
                        "                                </select>\n" +
                        "                            </td>\n" +
                        "                        </tr>\n" +
                        "                        <tr style=\"height: 70px\">\n" +
                        "                            <td>2.检验</td>\n" +
                        "                            <td>\n" +
                        "                                <select id='inspection"+count+"'  name=\"testDictionaryId\" multiple=\"multiple\" class='inspection"+count+"'>\n" +
                        "                                </select>\n" +
                        "                            </td>\n" +
                        "                        </tr>\n" +
                        "                        <tr style=\"height: 70px\">\n" +
                        "                            <td>3.检查</td>\n" +
                        "                            <td>\n" +
                        "                                <select id='check"+count+"' name=\"checkedDictionaryId\" multiple=\"multiple\" class='check"+count+"'>\n" +
                        "                                </select>\n" +
                        "                            </td>\n" +
                        "                        </tr>\n" +
                        "                        <tr style=\"height: 100px\">\n" +
                        "                            <td>4.治疗</td>\n" +
                        "                            <td>\n" +
                        "                                <textarea id='treatment"+count+"' name=\"treatment\"></textarea>\n" +
                        "                            </td>\n" +
                        "                        </tr>\n" +
                        "                        <tr style=\"height: 100px\">\n" +
                        "                            <td>5.手术</td>\n" +
                        "                            <td>\n" +
                        "                                <textarea id='operation"+count+"' name=\"operation\"></textarea>\n" +
                        "                            </td>\n" +
                        "                        </tr>\n" +
                        "                        <tr style=\"height: 100px\">\n" +
                        "                            <td>6.通知</td>\n" +
                        "                            <td>\n" +
                        "                                <textarea id='notice"+count+"'  name=\"notice\"></textarea>\n" +
                        "                            </td>\n" +
                        "                        </tr>\n" +
                        "                    </table>\n" +
                        "                  </form>\n"+
                        "                </div>");
                    var treatment = res[i].treatment;
                    var operation = res[i].operation;
                    var notice  = res[i].notice;
                    var tid = 'treatment'+count;
                    var oid = 'operation'+count;
                    var nid = 'notice'+count;
                    $("#"+tid).html(treatment);
                    $("#"+oid).html(operation);
                    $("#"+nid).html(notice);

                    $.get("/findPlan",{},function (result) {
                        for (var i = 0; i <result.length ; i++) {
                            if(result[i].oneId==14000){
                                var aaaa= 'medication'+count;
                                $("."+aaaa).append("<option value='"+result[i].dictionaryId+"'>"+result[i].dictionaryName+"</option>")
                                for (var j = 0; j <medication.length ; j++) {
                                    if (result[i].dictionaryId==medication[j].medicationDictionaryId){
                                        var medicationDictionaryId =result[i].dictionaryId;
                                        $(".medication"+count+" option[value='"+medicationDictionaryId+"']").attr("selected","selected");
                                    }
                                }
                            }
                            if(result[i].oneId==15000){
                                var bbbb = 'inspection'+count;
                                $("."+bbbb).append("<option value='"+result[i].dictionaryId+"'>"+result[i].dictionaryName+"</option>")
                                for (var k = 0; k <test.length ; k++) {
                                    if (result[i].dictionaryId==test[k].testDictionaryId){
                                        var testDictionaryId =result[i].dictionaryId;
                                        $(".inspection"+count+" option[value='"+testDictionaryId+"']").attr("selected","selected");
                                    }
                                }
                            }
                            if (result[i].oneId==16000){
                                var cccc ='check'+count;
                                $("."+cccc).append("<option value='"+result[i].dictionaryId+"'>"+result[i].dictionaryName+"</option>")
                                for (var j = 0; j <checked.length ; j++) {
                                    if (result[i].dictionaryId==checked[j].checkedDictionaryId){
                                        var checkedDictionaryId =result[i].dictionaryId;
                                        $(".check"+count+" option[value='"+checkedDictionaryId+"']").attr("selected","selected");
                                    }
                                }
                            }
                        }
                        var organId = 'organId'+count;
                        var inspectionId = 'inspection'+count;
                        var checkId = 'check'+count;
                        $("#" + organId).fSelect();
                        $("#" + inspectionId).fSelect();
                        $("#" + checkId).fSelect();
                    });
                    $("#list").css("display","none");
                    var listname = 'list'+count;
                    $("#listname").css("display","block");
                    showPlan(listname);
                }
            }
        });




        $(document).on("click",".planBtn",function () {
            showPlan(this.value);
        });

        /*$(".planBtn").click(function () {
            showPlan(this.value);
        })*/

        var count = 1;
        $("#addPlan").click(function () {
            $("#addPlan").parent().before("<div class=\"btnrow\">\n" +
                "                    <button type=\"button\" value='list"+count+"' class=\"btn btn-info planBtn\">方案"+count+"</button>\n" +
                "                </div>");
            $("#planContainer").append("<div id='list"+count+"' style=\"display: block\">\n" +
                "                 <form action=\"savePlan\">\n" +
                "                    <table border=\"1\" align=\"center\">\n" +
                "                       <tr>\n" +
                "                         <td colspan=\"2\" align=\"center\">\n" +
                "                            <input placeholder=\"请输入方案名称\" name=\"programmeName\">\n" +
                "                            <button type=\"submit\" class=\"btn btn-info btn-sm\">保存</button>\n" +
                "                           </td>\n" +
                "                        </tr>\n" +
                "                        <tr style=\"height: 70px\">\n" +
                "                            <td width=\"150px\">1.用药</td>\n" +
                "                            <td width=\"400px\">\n" +
                "                                <select id='organId"+count+"' name=\"medicationDictionaryId\" multiple=\"multiple\" class=\"medication2\">\n" +　　　
                "                                </select>\n" +
                "                            </td>\n" +
                "                        </tr>\n" +
                "                        <tr style=\"height: 70px\">\n" +
                "                            <td>2.检验</td>\n" +
                "                            <td>\n" +
                "                                <select id='inspection"+count+"' name=\"testDictionaryId\" multiple=\"multiple\" class=\"inspection2\">\n" +
                "                                </select>\n" +
                "                            </td>\n" +
                "                        </tr>\n" +
                "                        <tr style=\"height: 70px\">\n" +
                "                            <td>3.检查</td>\n" +
                "                            <td>\n" +
                "                                <select id='check"+count+"' name=\"checkedDictionaryId\" multiple=\"multiple\" class=\"check2\">\n" +
                "                                </select>\n" +
                "                            </td>\n" +
                "                        </tr>\n" +
                "                        <tr style=\"height: 100px\">\n" +
                "                            <td>4.治疗</td>\n" +
                "                            <td>\n" +
                "                                <textarea name=\"treatment\"></textarea>\n" +
                "                            </td>\n" +
                "                        </tr>\n" +
                "                        <tr style=\"height: 100px\">\n" +
                "                            <td>5.手术</td>\n" +
                "                            <td>\n" +
                "                                <textarea name=\"operation\"></textarea>\n" +
                "                            </td>\n" +
                "                        </tr>\n" +
                "                        <tr style=\"height: 100px\">\n" +
                "                            <td>6.通知</td>\n" +
                "                            <td>\n" +
                "                                <textarea name=\"notice\"></textarea>\n" +
                "                            </td>\n" +
                "                        </tr>\n" +
                "                    </table>\n" +
                "                  </form>\n"+
                "                </div>");

            $.get("/findPlan",{},function (result) {
                for (var i = 0; i <result.length ; i++) {
                    if(result[i].oneId==14000){
                        $(".medication2").append("<option value='"+result[i].dictionaryId+"'>"+result[i].dictionaryName+"</option>")
                    }
                    if(result[i].oneId==15000){
                        $(".inspection2").append("<option value='"+result[i].dictionaryId+"'>"+result[i].dictionaryName+"</option>")
                    }
                    if (result[i].oneId==16000){
                        $(".check2").append("<option value='"+result[i].dictionaryId+"'>"+result[i].dictionaryName+"</option>")
                    }
                }
                var organId = 'organId'+count;
                var inspectionId = 'inspection'+count;
                var checkId = 'check'+count;
                $("#" + organId).fSelect();
                $("#" + inspectionId).fSelect();
                $("#" + checkId).fSelect();
                count++;
            });
            $("#list").css("display","none");
            var listname = 'list'+count;
            $("#listname").css("display","block");
            showPlan(listname);
        });

        function showPlan(name) {
            var a = $("#planContainer").children("div");
            a.each(function () {
                if (this.id==name){
                    $("#"+name+"").css("display","block");
                }else {
                    $("#"+this.id+"").css("display","none");
                }
            })
        }

        var tableColumns = [
            {checkbox: true},
            {field: 'name', title: '门诊号',align:'center', sortable: true},
            {field: 'lv', title: '随访组',align:'center', sortable: true},
            {field: 'person', title: '姓名',align:'center' ,sortable: true},
            {field: 'state', title: '性别',align:'center', sortable: true},
            {field: 'class', title: '年龄',align:'center', sortable: true},
            {field: 'creatTime', title: '入组时间',align:'center', sortable: true},
            {field: 'class', title: '下次随访日期',align:'center', sortable: true},
            {field: 'class', title: '状态',align:'center', sortable: true},
            {field: 'class', title: '预览',align:'center', sortable: true}];
        var data1 = [{"name":"内分泌随访",
            "lv":"60%",
            "person":"张三",
            "state":"开放",
            "class":"内分泌科",
            "creatTime":"2018-11-12"},
            {"name":"内分泌随访",
                "lv":"40%",
                "person":"xx",
                "state":"开放",
                "class":"内分泌科",
                "creatTime":"2018-11-12"
            }];

        $('#tableL01').bootstrapTable('destroy');   //动态加载表格之前，先销毁表格

        /*$('#tableL01').bootstrapTable({
            onClickCell: function(params){
                alert(params);
            }
        });*/

        $('#tableL01').bootstrapTable({//表格初始化
            columns: tableColumns,  //表头
            data:data1, //通过ajax返回的数据
            width:300,
            height:268,
            method: 'get',
            pageNumber: 1,
            cache: false,
            striped: true,
            pagination: true,
            sidePagination: 'client',
            pageSize: 5,//单页记录数
            pageList: [5, 10, 20, 30],//可选择单页记录数
            search: false,
            showRefresh: false,
            showExport: false,
            showFooter: true,
            // exportTypes: ['csv', 'txt', 'xml'],
            clickToSelect: true,
            onClickCell: function(params){
                location.href="/one";
            }
        });

    })

</script>
</html>