<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>随访进度管理</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap-table.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-table.js"></script>
    <script src="/js/bootstrap-table-zh-CN.js"></script>
    <link rel="stylesheet" href="/css/hospital.css">

    <link href='/plugs/fullcalendar/packages/core/main.css' rel='stylesheet' />
    <link href='/plugs/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />
    <link href='/plugs/fullcalendar/packages/timegrid/main.css' rel='stylesheet' />
    <link href='/plugs/fullcalendar/packages/list/main.css' rel='stylesheet' />
    <script src='/plugs/fullcalendar/packages/core/main.js'></script>
    <script src='/plugs/fullcalendar/packages/core/locales-all.js'></script>
    <script src='/plugs/fullcalendar/packages/interaction/main.js'></script>
    <script src='/plugs/fullcalendar/packages/daygrid/main.js'></script>
    <script src='/plugs/fullcalendar/packages/timegrid/main.js'></script>
    <script src='/plugs/fullcalendar/packages/list/main.js'></script>
    <link rel="stylesheet" href="/plugs/fullcalendar/packages/bootstrap/main.css">
    <script src="/plugs/fullcalendar/packages/bootstrap/main.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>
<body>
<div th:replace="navigation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div style="padding-top: 20px">
                <h3 align="center">随访进度管理</h3>
                <hr>
            </div>
        </div>
        <div class="col-xs-12 col-md-12">
            <div class="col-xs-3" style="border-right-style: solid;border-color: #e1e1e1;height: 590px">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">科室</div>
                                <select class="form-control">
                                    <option>-请选择-</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">随访组</div>
                                <select class="form-control">
                                    <option>-请选择-</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">日期</div>
                                <input type="date" class="form-control" placeholder="Amount">
                            </div>
                            <div style="margin-left: 100px;"><i class="fa fa-angle-double-down"></i></div>
                            <div class="input-group">
                                <div class="input-group-addon">日期</div>
                                <input type="date" class="form-control" placeholder="Amount">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">住院号</div>
                                <input type="text" class="form-control" placeholder="Amount">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">姓名</div>
                                <input type="text" class="form-control" placeholder="Amount">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <button class="btn btn-info">筛选</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-9">
                <button type="button" id="listbtn" class="btn btn-info">列表视图</button>
                <button type="button" id="rilibtn" class="btn btn-info">日历视图</button>
            </div>
            <div class="col-xs-9" style="height: 500px;margin-top: 20px">
                <div id="list" style="display: block">
                    <table class="table table-striped table-bordered table-hover" id="tableL01"></table>
                </div>
                <div id="tu" style="display: none">
                    <div id='calendar'></div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="toolbar">
    <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1">已随访
    </label>
    <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox2" value="option2">未随访
    </label>
</div>
</body>
<script>
    $(function () {
        $("#listbtn").click(function () {
            $("#tu").css("display","none");
            $("#list").css("display","block");
        })
        $("#rilibtn").click(function () {
            $("#tu").css("display","block");
            $("#list").css("display","none");
        })


        var tableColumns = [
            {field: 'name', title: '门诊号',align:'center', sortable: true},
            {field: 'lv', title: '随访组',align:'center', sortable: true},
            {field: 'person', title: '姓名',align:'center' ,sortable: true},
            {field: 'state', title: '性别',align:'center', sortable: true},
            {field: 'class', title: '年龄',align:'center', sortable: true},
            {field: 'creatTime', title: '入组时间',align:'center', sortable: true},
            {field: 'class', title: '下次随访日期',align:'center', sortable: true},
            {field: 'class', title: '状态',align:'center', sortable: true},
            {field: 'class', title: '预览',align:'center', sortable: true}];
        var data1 = [{"name":"内分泌随访",
            "lv":"60%",
            "person":"张三",
            "state":"开放",
            "class":"内分泌科",
            "creatTime":"2018-11-12"},
            {"name":"内分泌随访",
                "lv":"40%",
                "person":"xx",
                "state":"开放",
                "class":"内分泌科",
                "creatTime":"2018-11-12"
            }];

        $('#tableL01').bootstrapTable('destroy');   //动态加载表格之前，先销毁表格

        /*$('#tableL01').bootstrapTable({
            onClickCell: function(params){
                alert(params);
            }
        });*/

        $('#tableL01').bootstrapTable({//表格初始化
            columns: tableColumns,  //表头
            data:data1, //通过ajax返回的数据
            width:300,
            height:268,
            method: 'get',
            pageNumber: 1,
            cache: false,
            striped: true,
            pagination: true,
            sidePagination: 'client',
            pageSize: 5,//单页记录数
            pageList: [5, 10, 20, 30],//可选择单页记录数
            search: false,
            showRefresh: false,
            showExport: false,
            showFooter: true,
            toolbar:"#toolbar",
            // exportTypes: ['csv', 'txt', 'xml'],
            clickToSelect: true,
            onClickCell: function(params){
                location.href="/one";
            }
        });

    })

    document.addEventListener('DOMContentLoaded', function() {
        var initialLocaleCode = 'en';
        var localeSelectorEl = document.getElementById('locale-selector');
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list','bootstrap'],
            header: {
                left: 'dayGridMonth,dayGridWeek',
                center: 'title',
                right: 'today prev,next'
            },
            themeSystem: 'bootstrap',
            bootstrapFontAwesome:{
                prev:'fa-chevron-left',
                next:'fa-chevron-right'
            },
            defaultDate: '2019-12-23',
            locale: 'zh-cn',
            buttonIcons: false, // show the prev/next text
            weekNumbers: true,
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            //handleWindowResize: true,
            contentHeight: 380,
            events: [
                {
                    title: '随访计划',
                    start: '2019-12-23',
                },
            ],
            dateClick: function(info) {
                /*alert('Clicked on: ' + info.dateStr);
                alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
                alert('Current view: ' + info.view.type);*/
                calendar.addEvent()
            }
        });

        calendar.render();

    });
</script>
<style>

    body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 14px;
    }

    #top {
        background: #eee;
        border-bottom: 1px solid #ddd;
        padding: 0 10px;
        line-height: 40px;
        font-size: 12px;
    }

    #calendar {
        max-width: 900px;
        margin: 40px auto;
        padding: 0 10px;
    }

</style>
</html>