<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>模板设计</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" href="/css/style.min862f.css">-->
    <link rel="stylesheet" href="/css/hospital.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/summernote.css">
    <script src="/js/beautifyhtml.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/grade.js"></script>
</head>
<body>
<div th:replace="navigation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div style="padding-top: 20px">
                <a href="javascript:history.back(-1)"><span class="glyphicon glyphicon-arrow-left"></span>返回模板列表</a>
                <hr>
            </div>
        </div>
        <div class="col-xs-12 col-md-12">
            <div class="col-xs-3">
                <h5>基本</h5>
                <hr>
                    <button type="button" id="title" class="btn btn-default temp-btn draggable ui-draggable" draggable="true">标题</button>
                    <button type="button" id="date" class="btn btn-default temp-btn" draggable="true">日期</button>
                    <button type="button" id="input" class="btn btn-default  temp-btn">单行文本框</button>
                    <button type="button" id="number" class="btn btn-default  temp-btn">数值</button>
                    <button type="button" id="select" class="btn btn-default  temp-btn">单选下拉框</button>
                    <button type="button" class="btn btn-default  temp-btn">多选下拉框</button>
                    <button type="button" id="radio" class="btn btn-default  temp-btn">单选按钮</button>
                    <button type="button" id="checkbox" class="btn btn-default  temp-btn">复选按钮</button>
                <h5>扩展</h5>
                <hr>
                    <button type="button" class="btn btn-default temp-btn">表格</button>
                    <button type="button" class="btn btn-default temp-btn">组合</button>
                    <button type="button" class="btn btn-default temp-btn">时间</button>
                    <button type="button" class="btn btn-default temp-btn">文本域</button>
                    <button type="button" class="btn btn-default temp-btn">电话</button>
                    <button type="button" class="btn btn-default temp-btn">邮箱</button>
                    <button type="button" class="btn btn-default temp-btn">文件上传</button>
                    <button type="button" class="btn btn-default temp-btn">图例</button>
                <h5>模板</h5>
                <hr>
                    <button type="button" class="btn btn-default temp-btn">药品模板</button>
                    <button type="button" class="btn btn-default temp-btn">手术模板</button>
                    <button type="button" class="btn btn-default temp-btn">检验模板</button>
                    <button type="button" class="btn btn-default temp-btn">检查模板</button>
            </div>
            <div class="col-xs-9" style="border-style: dashed;border-color: #e1e1e1;height: 590px;overflow:auto" >
                <form style="margin: 30px">
                    <div class="row form-body form-horizontal m-t">
                        <div class="col-md-12 droppable sortable ui-droppable ui-sortable">


                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(function () {
        setup_draggable();
    })

        $(".temp-btn").click(function() {
            $(tableList($(this).attr("id"))).appendTo($(".sortable"));
            $(".labcheck input").unbind('click');
            $(".labcheck input").click(function () {
                if ($(this).is(":checked")) {
                    alert("选中");
                } else {
                    alert("未选中");
                }
            });
        })

        $(document).on("click", ".remove", function(ev) {
            var r = confirm("是否删除？")
            if (r == true) {
                $(this).parent().parent().remove();
            }
        });

        //表单设置
        var get_modal = function(content, tabL, $el) {
            var modal = "";
            if (tabL == "cont") {
                modal = $('<div class="modal" style="overflow: auto;" tabindex="-1"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><a type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a><h4 class="modal-title">表单信息设置</h4></div><div class="modal-body ui-front"><xmp class="form-control"  style="min-height: 200px; overflow-y: auto; margin-bottom: 10px;font-family: Monaco, Fixed">' + content + '</xmp><button class="btn btn-success">确认</button></div></div></div></div>').appendTo(document.body);
            } else {
                modal = $('<div class="modal" style="overflow: auto;" tabindex="-1"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><a type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a><h4 class="modal-title">表单信息设置</h4></div><div class="modal-body ui-front">' + tabUp(tabL, $el) + '<xmp class="form-control"  style="min-height: 200px; display:none; overflow-y: auto; margin-bottom: 10px;font-family: Monaco, Fixed">' + content + '</xmp><button class="btn btn-success">确认</button></div></div></div>').appendTo(document.body);
            }
            return modal;
        };

        $(document).on("click", ".edit", function(ev) {
            var tabname = $(this).attr('name');
            var $el = $(this).parent().parent();
            var $el_copy = $el.clone();
            var $edit_btn = $el_copy.find(".edit-link").parent().remove();
            var $modal = get_modal(html_beautify($el_copy.html()),tabname, $el).modal("show");
            //html_beautify($el_copy.html())
            $modal.find(".btn-success").click(function(ev2) {
                //表单自定义js
                switch (tabname) {
                    case "title":
                        //标题
                        $el.find("h5").html($(this).parent().find("input:eq(0)").val());
                        $el.find("input:eq(0)").attr("placeholder", $(this).parent().find("input:eq(1)").val());
                        $modal.modal("hide");
                        return false;
                        break;
                    case "date":
                        //日期
                        $el.find("span:eq(0)").html($(this).parent().find("input:eq(0)").val());
                        $el.find("input:eq(0)").attr("placeholder", $(this).parent().find("input:eq(1)").val());
                        $modal.modal("hide");
                        return false;
                        break;
                    case "input":
                        //单行文本
                        $el.find("span:eq(0)").html($(this).parent().find("input:eq(0)").val());
                        $el.find("input:eq(0)").attr("placeholder", $(this).parent().find("input:eq(1)").val());
                        $modal.modal("hide");
                        return false;
                        break;
                    case "number":
                        //数值
                        $el.find("span:eq(0)").html($(this).parent().find("input:eq(0)").val());
                        $el.find("input:eq(0)").attr("placeholder", $(this).parent().find("input:eq(1)").val());
                        $modal.modal("hide");
                        return false;
                        break;
                    case "select":
                        //下拉框
                        var option = "";
                        var panduan = 0;
                        $(this).parent().find("input").each(function(index, element) {
                            if (index == 0) {
                                $el.find("span:eq(0)").html($(this).parent().find("input:eq(0)").val());
                            } else {
                                if ($(this).val() == "") {
                                    panduan = 1;
                                    $(this).focus();
                                    return false;
                                } else {
                                    option += "<option>" + $(this).val() + "</option>";
                                }
                            }
                        });
                        if (panduan != 0) {
                            alert("不能有空值！");
                        } else {
                            $el.find("select").html(option);
                            $modal.modal("hide");
                        }
                        break;
                    case "radio":
                        //单选
                        var option = "";
                        var panduan = 0;
                        var radom = Math.ceil(Math.random() * 100000);
                        $(this).parent().find("input").each(function(index, element) {
                            if (index == 0) {
                                $el.find("label:eq(0)").html($(this).parent().find("input:eq(0)").val());
                            } else if (index == 1) {
                                if ($(this).val() == "") {
                                    panduan = 1;
                                    $(this).focus();
                                    return false;
                                } else {
                                    option += '<label class="radio-inline"><input type="radio" name="rad' + radom + '" value="' + $(this).val() + '" checked=""> ' + $(this).val() + '</label>';
                                }
                            } else {
                                if ($(this).val() == "") {
                                    panduan = 1;
                                    $(this).focus();
                                    return false;
                                } else {
                                    option += '<label class="radio-inline"><input type="radio" name="rad' + radom + '" value="' + $(this).val() + '" > ' + $(this).val() + '</label>';
                                }
                            }
                        });
                        if (panduan != 0) {
                            alert("不能有空值！");
                        } else {
                            $el.find("div[class='col-sm-7']:eq(1)").html(option);
                            $modal.modal("hide");
                        }
                        return false;
                        break;
                    case "checkbox":
                        //多选
                        var option = "";
                        var panduan = 0;
                        $(this).parent().find("input").each(function(index, element) {
                            if (index == 0) {
                                $el.find("label:eq(0)").html($(this).parent().find("input:eq(0)").val() + "：");
                            } else if (index == 1) {
                                if ($(this).val() == "") {
                                    panduan = 1;
                                    $(this).focus();
                                    return false;
                                } else {
                                    option += '<label class="radio-inline"><input type="checkbox" value="' + $(this).val() + '"> ' + $(this).val() + '</label>';
                                }
                            } else {
                                if ($(this).val() == "") {
                                    panduan = 1;
                                    $(this).focus();
                                    return false;
                                } else {
                                    option += '<label class="radio-inline"><input type="checkbox" value="' + $(this).val() + '" > ' + $(this).val() + '</label>';
                                }
                            }
                        });
                        if (panduan != 0) {
                            alert("不能有空值！");
                        } else {
                            $el.find("div[class='col-sm-7']:eq(1)").html(option);
                            $modal.modal("hide");
                        }
                        return false;
                        break;
                }
            })
        })

        function tabUp(tabL, $el) {
            var content = "";
            var tou = '<div class="row tabup"><div class="col-sm-12" style="margin-bottom:10px"><div class="input-group"><span class="input-group-addon" id="basic-addon1">标题</span>';
            var tishi = '<div class="col-sm-12" style="margin-bottom:10px"><div class="input-group"><span class="input-group-addon" id="basic-addon1">提示信息</span><input type="text" class="form-control" value=" ' + $el.find("input:eq(0)").attr("placeholder") + '" placeholder="请输入提示信息"></div></div>';
            var add = '<button type="button" class="btn btn-default select-add" style="margin-left: 20px"><span class="glyphicon glyphicon-plus"></span></button></form></div>';
            var del = '<button type="button" class="btn btn-default select-del" style="margin-left: 20px"><span class="glyphicon glyphicon-trash"></span></button>';
            switch (tabL) {
                case "title":
                    //标题
                    content = tou + '<input type="text" class="form-control" value="' + $el.find("h5").text() + '" placeholder="请输入标题"></div></div><div class="col-sm-12" style="margin-bottom:10px"></div>';
                    break;
                case "date":
                    //日期
                    content = tou + '<input type="text" class="form-control" value="' + $el.find("span:eq(0)").text() + '" placeholder="请输入标题"></div></div><div class="col-sm-12" style="margin-bottom:10px"></div>';
                    break;
                case "input":
                    //单行文本框
                    content = tou + '<input type="text" class="form-control" value="' + $el.find("span:eq(0)").text() + '" placeholder="请输入标题"></div></div>' + tishi;
                    break;
                case "number":
                    //数值
                    content = tou + '<input type="text" class="form-control" value="' + $el.find("span:eq(0)").text() + '" placeholder="请输入标题"></div></div>' + tishi;
                    break;
                case "select":
                    //下拉框
                    //content += '<div class="row tabup">';
                    content += tou + '<input type="text" class="form-control" value="' + $el.find("span:eq(0)").text() + '" placeholder="请输入标题"></div></div>';
                    content += '<div class="col-sm-12" style="margin-bottom:10px"><form class="form-inline"><div class="input-group"><span class="input-group-addon" id="basic-addon1">子项1</span><input type="text" class="form-control" value="' + $el.find("select").find("option:eq(0)").html() + '" placeholder="请输入子项"></div>'+ add +'</form></div>';
                    $el.find("select").find("option").each(function(index) {
                        if (index > 0) {
                            content += '<div class="col-sm-12" style="margin-bottom:10px"><form class="form-inline"><div class="input-group"><span class="input-group-addon" id="basic-addon1">子项' + (index + 1) + '</span><input type="text" class="form-control" value="' + $(this).html() + '" placeholder="请输入子项"></div>'+ del +'</form>';
                        }
                    });
                    break;
                case "radio":
                    //单选框
                    //content += '<div class="row tabup">';
                    content += tou + '<input type="text" class="form-control" value="' + $el.find("label:eq(0)").html().substring(0, $el.find("label:eq(0)").html().length - 1) + '" placeholder="请输入标题"></div></div>';
                    content += '<div class="col-sm-12" style="margin-bottom:10px"><form class="form-inline"><div class="input-group"><span class="input-group-addon" id="basic-addon1">子项1</span><input type="text" class="form-control" value="' + $el.find("input[type='radio']:eq(0)").attr("value") + '" placeholder="请输入子项"></div></form></div>';
                    content += '<div class="col-sm-12" style="margin-bottom:10px"><form class="form-inline"><div class="input-group"><span class="input-group-addon" id="basic-addon1">子项2</span><input type="text" class="form-control" value="' + $el.find("input[type='radio']:eq(1)").attr("value") + '" placeholder="请输入子项"></div>'+ add +'</form></div>';
                    $el.find("input[type='radio']").each(function(index) {
                        if (index > 1) {
                            content += '<div class="col-sm-12" style="margin-bottom:10px"><from class="col-sm-12" style="margin-bottom:10px"><form class="form-inline"><div class="input-group"><span class="input-group-addon" id="basic-addon1">子项' + (index + 1) + '</span><input type="text" class="form-control" value="' + $(this).attr("value") + '" placeholder="请输入子项"></div>' + del + '</from></div>';
                        }
                    });
                    break;
                case "checkbox":
                    content += tou + '<input type="text" class="form-control" value="' + $el.find("label:eq(0)").html().substring(0, $el.find("label:eq(0)").html().length - 1) + '" placeholder="请输入标题"></div></div>';
                    content += '<div class="col-sm-12" style="margin-bottom:10px"><form class="form-inline"><div class="input-group"><span class="input-group-addon" id="basic-addon1">子项1</span><input type="text" class="form-control" value="' + $el.find("input[type='checkbox']:eq(0)").attr("value") + '" placeholder="请输入子项"></div></form></div>';
                    content += '<div class="col-sm-12" style="margin-bottom:10px"><form class="form-inline"><div class="input-group"><span class="input-group-addon" id="basic-addon1">子项1</span><input type="text" class="form-control" value="' + $el.find("input[type='checkbox']:eq(1)").attr("value") + '" placeholder="请输入子项"></div>'+ add +'</form></div>';
                    $el.find("input[type='checkbox']").each(function(index) {
                        if (index > 1) {
                            content += '<div class="col-sm-12" style="margin-bottom:10px"><from class="col-sm-12" style="margin-bottom:10px"><form class="form-inline"><div class="input-group"><span class="input-group-addon" id="basic-addon1">子项' + (index + 1) + '</span><input type="text" class="form-control" value="' + $(this).attr("value") + '" placeholder="请输入子项"></div>' + del + '</form></div>';
                        }
                    });
                    break;
            }
            return content;
        }

        //select 增加和删除
        $(document).on("click", ".select-add", function(ev) {
            var str = '<div class="col-sm-12" style="margin-bottom:10px"><form class="form-inline"><div class="input-group"><span class="input-group-addon" id="basic-addon1">子项1</span><input type="text" class="form-control" value="" placeholder="请输入子项"></div><button type="button" class="btn btn-default select-del" style="margin-left: 20px"><span class="glyphicon glyphicon-trash"></span></button></form></div>';
            $(this).parent().parent().parent().parent().find("div[class='row tabup']").append(str);

            //$(".select-del").unbind('click');

            $(".select-del").click(function() {
                var r = confirm("是否删除？")
                if (r == true) {
                    $(this).parent().parent().remove();
                }

            });
            $(this).parent().parent().parent().parent().find("span.input-group-addon").each(function(index,element) {
                if (index > 1) {
                    $(this).html("子项" + index);
                }
            });
        });
        $(".select-del").unbind('click');

        $(document).on("click", ".select-del", function(ev) {
            var r = confirm("是否删除？")
            if (r == true) {
                $(this).parent().parent().remove();
            }
        });

        function tableList(id){
            var content = "";
            var tou = '<div class="form-group draggable ui-draggable dropped"><div class="col-sm-7">';
            var wei = '<span class="glyphicon glyphicon-cog"></span></button><button type="button" class="btn btn-default remove"><span class="glyphicon glyphicon-trash"></span></button></p></div>';
            switch (id) {
                case "title":
                    var title = '<h5>标题</h5><hr>';
                    content = tou + title + '</div><p class="tools col-sm-3"><button type="button" class="btn btn-default edit" name="title">'+ wei;
                    break;
                case "date":
                    var title = '<div class="input-group"><span class="input-group-addon" id="basic-addon1">日期</span><input type="date" class="form-control"></div>';
                    content = tou + title + '</div><p class="tools col-sm-3"><button type="button" class="btn btn-default edit" name="date">'+ wei;
                    break;
                case "input":
                    var title = '<div class="input-group"><span class="input-group-addon" id="basic-addon1">文本</span><input type="text" class="form-control" placeholder="请输入"></div>';
                    content = tou + title + '</div><p class="tools col-sm-3"><button type="button" class="btn btn-default edit" name="input">'+ wei;
                    break;
                case "select":
                    var title = '<div class="input-group"><span class="input-group-addon" id="basic-addon1">下拉单选</span><select class="form-control"><option>请选择</option></select></div>';
                    content = tou + title + '</div><p class="tools col-sm-3"><button type="button" class="btn btn-default edit" name="select">'+ wei;
                    break;
                case "number":
                    var title = '<div class="input-group"><span class="input-group-addon" id="basic-addon1">数值</span><input type="text" class="form-control" placeholder="请输入"></div>';
                    content = '<div class="form-group draggable ui-draggable dropped"><div class="col-sm-7">' + title + '</div><p class="tools col-sm-3"><button type="button" class="btn btn-default edit" name="number">'+ wei;
                    break;
                case "textarea":
                    //多行文本
                    var textarea = '<textarea class="form-control" placeholder="请输入文本"></textarea>';
                    content = '<div class="form-group draggable ui-draggable dropped"><label class="col-sm-2 control-label">多行文本：</label><div class="col-sm-7">' + textarea + '</div><p class="tools col-sm-3"><a class="edit-link" name="textarea" title="设置"><i class="fa fa-cog fa-fw"></i></a><a class="remove-link"><i class="fa fa-trash-o"></i></a><label class="labcheck"><input type="checkbox"> 必填</label></p></div>';
                    break;
                case "radio":
                    //单选框
                    var radom = Math.ceil(Math.random() * 100000);
                    var radio = '<label class="radio-inline"><input type="radio" value="默认1" name="rad' + radom + '" checked> 默认1</label><label class="radio-inline"><input type="radio" name="rad' + radom + '" value="默认2"> 默认2</label>';
                    content = '<div class="form-group draggable ui-draggable dropped"><div class="col-sm-7"><label>单选：</label></div><div class="col-sm-7">' + radio + '</div><p class="tools col-sm-3"><button type="button" class="btn btn-default edit" name="radio">' + wei;
                    break;
                case "checkbox":
                    //多选框
                    var checkbox = '<label class="radio-inline"><input type="checkbox" name="默认1" value="默认1"> 默认1</label><label class="radio-inline""><input type="checkbox" name="默认2" value="默认2"> 默认2</label>';
                    content = '<div class="form-group draggable ui-draggable dropped"><div class="col-sm-7"><label>多选：</label></div><div class="col-sm-7">' + checkbox + '</div><p class="tools col-sm-3"><button type="button" class="btn btn-default edit" name="checkbox">' + wei;
                    break;
                case "datetime":
                    //时间
                    var datetime = '<input readonly="" class="form-control form_datetime" type="text" style="border: 1px solid #e5e6e7;">';
                    content = '<div class="form-group draggable ui-draggable dropped"><label class="col-sm-2 control-label">文本：</label><div class="col-sm-7">' + datetime + '</div><p class="tools col-sm-3"><a class="edit-link" name="datetime" title="设置"><i class="fa fa-cog fa-fw"></i></a><a class="remove-link"><i class="fa fa-trash-o"></i></a></p></div>';
                    break;
                case "file":
                    //上传
                    var file = '<input class="file uploadfile" type="file" multiple data-min-file-count="1">';
                    content = '<div class="form-group draggable ui-draggable dropped"><label class="col-sm-2 control-label">上传：</label><div class="col-sm-7">' + file + '</div><p class="tools col-sm-3"><a class="edit-link" name="file" title="设置"><i class="fa fa-cog fa-fw"></i></a><a class="remove-link"><i class="fa fa-trash-o"></i></a></p></div>';
                    break;
                case "picker":
                    //省市区
                    var picker = '<form class="form-inline"><div class="distpicker"><div class="form-group" style="margin:0px; padding-right:10px;"><label class="sr-only" for="province10">Province</label><select class="form-control" id="province10"></select></div><div class="form-group" style="margin:0px; padding-right:10px;"><label class="sr-only" for="city10">City</label><select class="form-control" id="city10"></select></div><div class="form-group" style="margin:0px; padding-right:10px;"><label class="sr-only" for="district10">District</label><select class="form-control" id="district10"></select></div></div></form>';
                    content = '<div class="form-group draggable ui-draggable dropped"><label class="col-sm-2 control-label">省市区：</label><div class="col-sm-7">' + picker + '</div><p class="tools col-sm-3"><a class="edit-link" name="picker" title="设置"><i class="fa fa-cog fa-fw"></i></a><a class="remove-link"><i class="fa fa-trash-o"></i></a></p></div>';
                    break;
                case "name":
                    //姓名
                    var text = '<input type="text" class="form-control" placeholder="请输入你的姓名">';
                    content = '<div class="form-group draggable ui-draggable dropped"><label class="col-sm-2 control-label">姓名：</label><div class="col-sm-7">' + text + '</div><p class="tools col-sm-3"><a class="edit-link" name="text" title="设置"><i class="fa fa-cog fa-fw"></i></a><a class="remove-link"><i class="fa fa-trash-o"></i></a><label class="labcheck"><input type="checkbox"> 必填</label></p></div>';
                    break;
                case "phone":
                    //电话
                    var text = '<input type="text" class="form-control" placeholder="请输入你的电话">';
                    content = '<div class="form-group draggable ui-draggable dropped"><label class="col-sm-2 control-label">电话：</label><div class="col-sm-7">' + text + '</div><p class="tools col-sm-3"><a class="edit-link" name="text" title="设置"><i class="fa fa-cog fa-fw"></i></a><a class="remove-link"><i class="fa fa-trash-o"></i></a><label class="labcheck"><input type="checkbox"> 必填</label></p></div>';
                    break;
                case "email":
                    //邮箱
                    var text = '<input type="text" class="form-control" placeholder="请输入你的邮箱">';
                    content = '<div class="form-group draggable ui-draggable dropped"><label class="col-sm-2 control-label">邮箱：</label><div class="col-sm-7">' + text + '</div><p class="tools col-sm-3"><a class="edit-link" name="text" title="设置"><i class="fa fa-cog fa-fw"></i></a><a class="remove-link"><i class="fa fa-trash-o"></i></a><label class="labcheck"><input type="checkbox"> 必填</label></p></div>';
                    break;
                case "card":
                    //身份证
                    var text = '<input type="text" class="form-control" placeholder="请输入你的身份证">';
                    content = '<div class="form-group draggable ui-draggable dropped"><label class="col-sm-2 control-label">身份证：</label><div class="col-sm-7">' + text + '</div><p class="tools col-sm-3"><a class="edit-link" name="text" title="设置"><i class="fa fa-cog fa-fw"></i></a><a class="remove-link"><i class="fa fa-trash-o"></i></a><label class="labcheck"><input type="checkbox"> 必填</label></p></div>';
                    break;
                case "www":
                    //姓名
                    var text = '<input type="text" class="form-control" placeholder="请输入你的个人网站地址">';
                    content = '<div class="form-group draggable ui-draggable dropped"><label class="col-sm-2 control-label">个人网站：</label><div class="col-sm-7">' + text + '</div><p class="tools col-sm-3"><a class="edit-link" name="text" title="设置"><i class="fa fa-cog fa-fw"></i></a><a class="remove-link"><i class="fa fa-trash-o"></i></a><label class="labcheck"><input type="checkbox"> 必填</label></p></div>';
                    break;
                case "logo":
                    //姓名
                    var file = '<input class="file uploadfile" type="file" multiple data-min-file-count="1">';
                    content = '<div class="form-group draggable ui-draggable dropped"><label class="col-sm-2 control-label">上传Logo：</label><div class="col-sm-7">' + file + '</div><p class="tools col-sm-3"><a class="edit-link" name="file" title="设置"><i class="fa fa-cog fa-fw"></i></a><a class="remove-link"><i class="fa fa-trash-o"></i></a></p></div>';
                    break;
                case "sex":
                    //性别
                    var radom = Math.ceil(Math.random() * 100000);
                    var radio = '<label class="radio-inline"><input type="radio" value="男" name="rad' + radom + '" checked> 男</label><label class="radio-inline"><input type="radio" name="rad' + radom + '" value="女"> 女</label>';
                    content = '<div class="form-group draggable ui-draggable dropped"><label class="col-sm-2 control-label">性别：</label><div class="col-sm-7">' + radio + '</div><p class="tools col-sm-3"><a class="edit-link" name="radio" title="设置"><i class="fa fa-cog fa-fw"></i></a><a class="remove-link"><i class="fa fa-trash-o"></i></a></p></div>';
                    break;
                case "occupation":
                    //职位
                    var text = '<input type="text" class="form-control" placeholder="请输入你的职位">';
                    content = '<div class="form-group draggable ui-draggable dropped"><label class="col-sm-2 control-label">职位：</label><div class="col-sm-7">' + text + '</div><p class="tools col-sm-3"><a class="edit-link" name="text" title="设置"><i class="fa fa-cog fa-fw"></i></a><a class="remove-link"><i class="fa fa-trash-o"></i></a><label class="labcheck"><input type="checkbox"> 必填</label></p></div>';
                    break;
                case "profile":
                    //个人简介
                    var textarea = '<textarea class="form-control" placeholder="请输入你的简介"></textarea>';
                    content = '<div class="form-group draggable ui-draggable dropped"><label class="col-sm-2 control-label">个人简介：</label><div class="col-sm-7">' + textarea + '</div><p class="tools col-sm-3"><a class="edit-link" name="textarea" title="设置"><i class="fa fa-cog fa-fw"></i></a><a class="remove-link"><i class="fa fa-trash-o"></i></a><label class="labcheck"><input type="checkbox"> 必填</label></p></div>';
                    break;
            }
            return content;
        }

        var setup_draggable = function() {
            $(".draggable").draggable({
                appendTo: "body",
                helper: "clone"
            });
            $(".droppable").droppable({
                accept: ".draggable",
                helper: "clone",
                hoverClass: "droppable-active",
                drop: function(event, ui) {
                    $(".empty-form").remove();
                    var $orig = $(ui.draggable);
                    if (!$(ui.draggable).hasClass("dropped")) {
                        $(tableList($orig.attr("id"))).appendTo(this);
                        //时间初始化
                        $(".form_datetime").datetimepicker({
                            language: 'zh-CN', //日期
                            format: "yyyy/mm/dd hh:ii",
                            initialDate: new Date(), //初始化当前日期
                            autoclose: true, //选中自动关闭
                            todayBtn: true //显示今日按钮
                        });
                        //上传初始化
                        $('.uploadfile').fileinput({
                            language: 'zh'
                        });
                        //省市区初始化
                        $('.distpicker').distpicker({
                            province: '省份名',
                            city: '城市名',
                            district: '区名',
                            autoSelect: true,
                            placeholder: false
                        });
                    } else {
                        if ($(this)[0] != $orig.parent()[0]) {
                            var $el = $orig.clone().appendTo(this);
                            $orig.remove()
                        }
                    }
                }
            }).sortable()
        };
</script>
</html>