<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap-table.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-table.js"></script>
    <script src="/js/bootstrap-table-zh-CN.js"></script>
    <link rel="stylesheet" href="/css/hospital.css">
    <script src="https://use.fontawesome.com/38f0aa120f.js"></script>
    <link rel="stylesheet" href="/plugs/bootstrap-fileinput/css/fileinput.css">
    <script src="/plugs/bootstrap-fileinput/js/fileinput.js"></script>
    <link rel="stylesheet" href="/plugs/bootstrap-fileinput/themes/explorer-fas/theme.css">
    <script src="/plugs/bootstrap-fileinput/themes/explorer-fas/theme.js"></script>
    <script src="/plugs/bootstrap-fileinput/locales/zh.js"></script>
</head>
<body>
<div th:replace="navigation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div style="padding-top: 20px">
                <a href="javascript:history.back(-1)"><span class="glyphicon glyphicon-arrow-left"></span>切换随访组</a>
                <h3 align="center">随访组标题</h3>
                <hr>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <button type="button" class="btn btn-info"><a href="/groupPower" style="color: white">权限管理</a></button>
                        <button type="button" class="btn btn-info"><a href="/intoGroup" style="color: white">入组管理</a></button>
                        <button type="button" class="btn btn-info"><a th:href="@{'/templist?departmentId='+${departmentId}}" style="color: white">模板设置</a></button>
                        <button type="button" class="btn btn-info"><a href="/followUpSetting" style="color: white">随访规则设定</a></button>
                        <button type="button" class="btn btn-info"><a href="/plan" style="color: white">诊疗方案</a></button>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col-xs-12 col-md-12" style="background-color: #e0f3f8">
                <div style="padding: 10px">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">门诊号</div>
                                    <input type="text" class="form-control" placeholder="请输入门诊号" id="outpatientService">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-lg-offset-1">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">住院号</div>
                                    <input type="text" class="form-control" placeholder="请输入住院号" id="hospitalizationNumber">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-lg-offset-1">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">性别</div>
                                    <select class="form-control" id="sex">
                                        <option value="">-请选择-</option>
                                        <option value="1">男</option>
                                        <option value="0">女</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 20px">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">入组时间</div>
                                    <input type="date" class="form-control" id="preTime">
                                    <div class="input-group-addon">~</div>
                                    <input type="date" class="form-control" id="sufTime">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">姓名</div>
                                    <input type="text" class="form-control" placeholder="请输入姓名" id="patientName">
                                    <input type="hidden" id="groupId" th:value="${groupId}" >
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <button type="reset" class="btn btn-info" id="searchReset">清空</button>
                            <button type="submit" id="search"  class="btn btn-info">检索</button>
                            <a>高级检索</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="tableL01"></table>
            </div>
        </div>
    </div>
</div>
<div id="toolbar">
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">新增</button>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal1">编辑</button>
    <button type="button" class="btn btn-danger" onclick="del()">删除</button>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新建患者</h4>
            </div>
            <div class="modal-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">自定义患者</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">导入Excel文件</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">住院号</div>
                                        <input type="text" class="form-control" id="outPatientService2">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">姓名</div>
                                        <input type="text" class="form-control" id="PName">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon" >门诊号</div>
                                        <input type="text" class="form-control" id="Number">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">出生日期</div>
                                        <input type="date" class="form-control" id="birthday">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">性别</div>
                                        <select class="form-control" id="sex1">
                                            <option value="">-请选择-</option>
                                            <option value="1">男</option>
                                            <option value="0">女</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <form enctype="multipart/form-data">
                            <div class="file-loading">
                                <input id="kv-explorer" type="file" multiple accept=".xls,.xlsx">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" onclick="add()">确定</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel1">编辑</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info">确定</button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var tableColumns = [
        {checkbox: true},
        {field: 'patientId',title:'编号',visible:false,align:'center', sortable: true},
        {field: 'outpatientService', title: '门诊号/住院号',align:'center', sortable: true},
        {field: 'patientName', title: '姓名',align:'center', sortable: true},
        {field: 'patientSex', title: '性别',align:'center' ,sortable: true,formatter:function (value) {
                if(value==1){
                    return "男";
                }else{
                    return "女";
                }
            }},
        {field: 'patientBirthday', title: '年龄',align:'center', sortable: true,formatter:function (value) {
                var d=new Date();
                var nowyear=d.getFullYear()
                var birArr = value.split("-");
                var birYear = birArr[0];
                return nowyear-birYear+"岁";
            }},
        {field: 'planningGroups.inGroupTime', title: '入组时间',align:'center', sortable: true},
        {field: 'operate', title: '查看',align:'center', events: 'operateEvents',formatter: operateFormatter}
    ];

    window.operateEvents = {
        'click .RoleOfA': function (e, value, row, index) {
            window.location.href="/patient";
        }
    };


    function operateFormatter(value, row, index) {
        return [
            '<button type="button" class="RoleOfA btn btn-default btn-sm" style="margin-right:15px;"><i class="fa fa-search"></i></button>'
        ].join('');
    }
    $('#tableL01').bootstrapTable('destroy');   //动态加载表格之前，先销毁表格
    $('#tableL01').bootstrapTable({//表格初始化
        columns: tableColumns,  //表头
        url:'/findPatients',
        method: 'get',
        pageNumber: 1,//初始化加载第一页
        cache: false,
        striped: true,
        pagination: true,
        sidePagination: 'client',
        pageSize: 3,//单页记录数
        pageList: [3, 5, 10, 20],//可选择单页记录数
        search: false,
        theadClasses: "thead-blue",
        showRefresh: false,
        showExport: false,
        showFooter: true,
        silent:true,
        // exportTypes: ['csv', 'txt', 'xml'],
        clickToSelect: true,
        toolbar:'#toolbar',
        //得到查询的参数
        queryParams:function queryParams(params) {
            var param = {
                groupId:$('#groupId').val(),//小组Id
                outpatientService:$('#outpatientService').val(),//门诊号
                hospitalizationNumber:$('#hospitalizationNumber').val(),//住院号
                patientSex: $('#sex').val(),//性别
                preTime: $('#preTime').val(),//前时间
                sufTime: $('#sufTime').val(),//后时间
                patientName: $('#patientName').val()//姓名
            };
            return param;
        }
    });

    $(document).on('click','#search',function () {
        $('#tableL01').bootstrapTable('refresh');
    })
    $("#searchReset").click(function () {
        $("input[type=text]").val('');
        document.getElementById("sex").options.selectedIndex=0;
        $("#sex").selectpicker('refresh');
    })


    $(document).ready(function () {
        $("#kv-explorer").fileinput({
            'theme': 'explorer-fas',
            'uploadUrl': '#',
            language:'zh',
            overwriteInitial: false,
            initialPreviewAsData: true,
            allowedFileExtensions : ['xls', 'xlsx','txt'],
        });
    });
</script>
<script>
    function del(){
        if(!confirm("是否确认删除？"))
            return ;
        var  rows=$("#tableL01").bootstrapTable('getSelections')//要删除的数据
        if(rows.length == 0){
            alert("请选择要删除的记录！");
            return ;
        }else {
            var ids="";
            $(rows).each(function(){
                ids+=this.patientId+",";
            });
            $.ajax({
                url:"delById",
                data:{"ids":ids},
                type:"post",
                success:function(data){
                    $("#tableL01").bootstrapTable('refresh', data);
                }
            })
        }

    }
    function  add() {
        var outpatientService2 =$('#outpatientService2').val();
        var pName=$('#PName').val();
        var Number=$('#Number').val();
        var birthday=$('#birthday').val();
        var groupId=$('#groupId').val();
        var sex=$('#sex1').val();
        location.href="patientAdd?outpatientService2="+outpatientService2+"&pName="+pName+"&Number="+Number+"&birthday="+birthday+"&groupId="+groupId+"&sex="+sex;
    }
</script>
</html>