<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>权限管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap-table.css">
    <link rel="stylesheet" href="/plugs/multi-select/multi-select.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-table.js"></script>
    <script src="/js/bootstrap-table-zh-CN.js"></script>
    <link rel="stylesheet" href="/css/hospital.css">
    <script src="https://use.fontawesome.com/38f0aa120f.js"></script>
    <script src="/plugs/multi-select/jquery.multi-select.js"></script>
</head>
<style>
    .power{
        border: 1px solid blue;
        width: 480px;
        height: 250px;
        margin-left: 40px;
        margin-top: 10px;
    }
</style>
<body>
<div th:replace="navigation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div style="padding-top: 20px">
            <a href="javascript:history.back(-1)"><span class="glyphicon glyphicon-arrow-left"></span>返回随访组</a>
            <h3 align="center">权限管理</h3>
            <hr>
            </div>
            <div class="col-xs-12 col-md-12" style="background-color: #e0f3f8">
                <div style="padding: 10px">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">角色名称</div>
                                    <input type="email" class="form-control" placeholder="请输入角色名称" id="name">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-lg-offset-1">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">备注</div>
                                    <input type="email" class="form-control" placeholder="请输入备注" id="remark">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-lg-offset-1">
                            <button type="reset" class="btn btn-info" id="empty" onclick="empty()">清空</button>
                            <button type="submit" class="btn btn-info" id="search">检索</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="tableL01"></table>
            </div>

        </div>
    </div>
</div>
<div id="toolbar">
    <button type="button" class="btn btn-info">新增</button>
    <button type="button" class="btn btn-danger" onclick="remove()">删除</button>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">权限及用户设定</h4>
            </div>
            <div class="modal-body">
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">设定用户</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">设定权限</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">科室</div>
                                            <select class="form-control">
                                                <option>-请选择-</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">姓名</div>
                                            <input type="text" class="form-control" placeholder="请输入姓名">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <button class="btn btn-info"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <select id='public-methods' multiple='multiple'>
                                <option value='elem_1'>elem 1</option>
                                <option value='elem_2'>elem 2</option>
                                <option value='elem_3'>elem 3</option>
                                <option value='elem_4'>elem 4</option>
                                <option value='elem_1000'>elem 100</option>
                            </select>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            <div class="power">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">管理随访组
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">病例管理
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">数据录入
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">修改其他创建者数据
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">查看隐私数据
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">统计分析
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">随访规则设置
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">查看
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">检索
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $('#public-methods').multiSelect({
    });

    $('#select-all').click(function(){
        $('#public-methods').multiSelect('select_all');
        return false;
    });

    $('#deselect-all').click(function(){
        $('#public-methods').multiSelect('deselect_all');
        return false;
    });

    $(function () {
        var tableColumns = [
            {checkbox:true},
            {field: 'selectRole.menuName', title: '角色级别',align:'center', sortable: true},
            {field: 'd1', title: '角色名称',align:'center', sortable: true},
            {field: 'power', title: '权限及用户设定',align:'center',
                formatter: function(){
                    return '<button type="button" data-toggle="modal" data-target="#myModal" class="RoleOfPower btn btn-default btn-sm" style="margin-right:15px;"><i class="fa fa-gear"></i></button>';
                }},
            {field: 'userName', title: '用户',align:'center', sortable: true},
            {field: 'd2', title: '权限',align:'center', sortable: true},
            {field: 'operate', title: '操作',align:'center', events: 'operateEvents',formatter: operateFormatter}
        ];
        /*var data1 = [{"name":"内分泌随访",
            "lv":"60%",
            "person":"张三",
            "state":"开放",
            "class":"内分泌科",
            "creatTime":"2018-11-12"},
            {"name":"内分泌随访",
                "lv":"40%",
                "person":"xx",
                "state":"开放",
                "class":"内分泌科",
                "creatTime":"2018-11-12"
            }];*/

        window.operateEvents = {
            'click .RoleOfEdit': function (e, value, row, index) {
                alert("A");
            },
            'click .RoleOfDel': function (e, value, row, index) {
                var  rows=$("#tableL01").bootstrapTable('getSelections')//要删除的数据
                if(rows.length == 0){
                    alert("请选择要删除的记录！");
                    return ;
                }else {
                    confirm("是否确认删除？")
                    var ids="";
                    $(rows).each(function(){
                        ids+=this.userId+",";
                    });
                    $.ajax({
                        url:"removeById1",
                        data:{"ids":ids},
                        type:"post",
                        success:function(data){
                            $("#tableL01").bootstrapTable('refresh', data);

                        }
                    })
                }
            }
        };


        function operateFormatter(value, row, index) {
            return [
                '<button type="button" class="RoleOfEdit btn btn-default btn-sm" style="margin-right:15px;"><i class="fa fa-pencil"></i></button>',
                '<button type="button" class="RoleOfDel btn btn-default btn-sm" style="margin-right:15px;"><i class="fa fa-trash"></i></button>'
            ].join('');
        }




        /*$.get("findAllUser",function (data) {*/
            $('#tableL01').bootstrapTable('destroy');   //动态加载表格之前，先销毁表格+
            $('#tableL01').bootstrapTable({//表格初始化
                columns: tableColumns,  //表头
                /* data:data1, //通过ajax返回的数据*/
                width:300,
                height:268,
                url:"findAllUser",
                method: 'get',
                pageNumber: 1,
                cache: false,
                striped: true,
                pagination: true,
                sidePagination: 'client',
                pageSize: 5,//单页记录数
                pageList: [5, 10, 20, 30],//可选择单页记录数
                search: false,
                theadClasses: "thead-blue",
                showRefresh: false,
                showExport: false,
                showFooter: true,
                // exportTypes: ['csv', 'txt', 'xml'],
                clickToSelect: true,
                toolbar:"#toolbar",
                /*data:formatData(data),*/
                /*onClickCell: function(params){
                    location.href="/one";
                }*/
                queryParams: function queryParams(params){
                    var param = {
                        occupationId:$("#name").val()
                    };
                    return param;
                },
            });
            $(document).on('click', "#search",function(){
                $('#tableL01').bootstrapTable('refresh');
            });
        /*})*/
        // 格式化数据
        /*var formatData = function (data) {
            var l = [];
            var d;
            for (var i = 0; i < data.superUsers.length && data.superUsers1.length; i++) {
                var m = data.superUsers[i]
                var mm=data.superUsers1[i]
                    d = {
                   "menuName":m.selectRole.menuName,    //角色级别
                    "dictionaryName":m.dictionaryName,  //角色名称
                    "userName":m.userName,              //用户
                         "dictionaryName1":mm.dictionaryName,//权限
                }
                l.push(d)
            }
            return l
        };*/
    })

    //清空
    function empty(){
        $("#name").val("");
        $("#remark").val("");
        $("input[name='btSelectAll']").prop("checked",false);
        $("input[name='btSelectItem']").prop("checked",false);
    }

    //批量删除
    function remove(){
        var  rows=$("#tableL01").bootstrapTable('getSelections')//要删除的数据
        if(rows.length == 0){
            alert("请选择要删除的记录！");
            return ;
        }else {
            confirm("是否确认删除？")
            var ids="";
            $(rows).each(function(){
                ids+=this.userId+",";
            });
            $.ajax({
                url:"removeById1",
                data:{"ids":ids},
                type:"post",
                success:function(data){
                    $("#tableL01").bootstrapTable('refresh', data);

                }
            })
        }

    }

</script>

</html>