<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>入组管理</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap-table.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-table.js"></script>
    <script src="/js/bootstrap-table-zh-CN.js"></script>
    <link rel="stylesheet" href="/css/hospital.css">
    <link rel="stylesheet" href="/css/selectcheck.css">
    <script src="/js/selectcheck.js"></script>
    <script src="https://use.fontawesome.com/38f0aa120f.js"></script>
    <link rel="stylesheet" href="/plugs/zTree/css/zTreeStyle/zTreeStyle.css">
    <script src="/plugs/zTree/js/jquery.ztree.core.js"></script>
    <script src="/plugs/zTree/js/jquery.ztree.exhide.js"></script>
    <script src="/plugs/zTree/js/fuzzysearch.js"></script>
    <script src="/plugs/zTree/js/jquery.ztree.excheck.js"></script>
    <script src="https://use.fontawesome.com/38f0aa120f.js"></script>
</head>
<style>
    .btnrow{
        padding-top: 10px;
        padding-left: 35px;
    }
    .btn-info{
        width: 100px;
    }
    .marginTop{
        margin-top: 20px;
    }
</style>
<body>
<div th:replace="navigation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div style="padding-top: 20px">
                <a href="javascript:history.back(-1)"><span class="glyphicon glyphicon-arrow-left"></span>返回随访组</a>
                <h3 align="center">入组管理</h3>
                <hr>
            </div>
        </div>
        <div class="col-xs-12 col-md-12">
            <div>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">入组范围</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">入组时间</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <div class="col-xs-2" id="btnContainer" style="border-right-style: solid;border-color: #e1e1e1;height: 590px">
                            <div class="btnrow">
                                <button type="button" value="department" class="btn btn-info showPage">按科室</button>
                            </div>
                            <div class="btnrow">
                                <button type="button" value="diseases" class="btn btn-info showPage">按病种</button>
                            </div>
                            <div class="btnrow">
                                <button type="button" value="personnel" class="btn btn-info showPage">按人员</button>
                            </div>
                            <div class="btnrow">
                                <button type="button" value="custom" class="btn btn-info showPage">自定义条件</button>
                            </div>
                            <!--<div class="btnrow">
                                <button type="button" value="resuhSet" class="btn btn-info showPage">按结果集</button>
                            </div>-->
                        </div>
                        <div class="col-xs-9" style="margin-top: 10px;margin-left: 50px;">
                            <div class="row" style="margin-left: 200px">
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1">自动同步新增患者
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" value="option2">是否需要确认
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-9" id="planContainer" style="margin-top: 20px">
                            <div id="department" style="display: block">
                                <div class="col-xs-6 col-xs-offset-3">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">科室</div>
                                            <select class="form-control">
                                                <option>-请选择-</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="custom" style="display: none">
                                <div class="col-xs-3" style="border:1px solid #e1e1e1;height: 500px;overflow: auto" >
                                    <div class="input-group">
                                        <input type="text" id="key" class="form-control" placeholder="Search for...">
                                    </div>
                                    <div>
                                        <ul id="treeDemo" class="ztree"></ul>
                                    </div>
                                </div>
                                <div class="col-xs-9" id="box">

                                </div>
                            </div>
                            <div id="diseases" style="display: none">
                                <div class="col-xs-6 col-xs-offset-3">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">疾病编码</div>
                                            <input type="text" class="form-control">
                                            <div class="input-group-addon">~</div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-xs-offset-3 marginTop">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">疾病名称</div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="personnel" style="display: none">
                                <div class="col-xs-6 col-xs-offset-3">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">医生</div>
                                            <select class="form-control">
                                                <option>-请选择-</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-xs-offset-3 marginTop">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">护士</div>
                                            <select class="form-control">
                                                <option>-请选择-</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-xs-offset-3 marginTop">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">技师</div>
                                            <select class="form-control">
                                                <option>-请选择-</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-xs-offset-3 marginTop">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">药师</div>
                                            <select class="form-control">
                                                <option>-请选择-</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-9" style="height: 500px;margin-top: 20px">
                            <div class="col-xs-6 col-xs-offset-5">
                                <div class="form-group">
                                    <div class="input-group">
                                        <button type="button" class="btn btn-info">保存</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <div class="row">
                            <div class="col-xs-12 col-xs-offset-1">
                                <label>基准事件：</label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">门诊
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">入院
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">出院
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option3">手术
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option3">入ICU
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option3">出ICU
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-xs-offset-1">
                                <label>筛选条件：</label>
                                <label class="radio-inline">
                                    <input type="radio" name="di" id="inlineRadio7" value="option1">本院
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="di" id="inlineRadio8" value="option2">本科室
                                </label>
                                <br>
                                <label class="radio-inline" style="padding-left: 94px">
                                    <input type="radio" name="ci" id="inlineRadio9" value="option3">首次
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="ci" id="inlineRadio10" value="option3">末次
                                </label>
                                <br>
                                <label class="radio-inline" style="padding-left: 94px">
                                    <input type="radio" name="y" id="inlineRadio11" value="option3">本就诊
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="y" id="inlineRadio12" value="option3">任意就诊
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-xs-offset-1">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">起始</div>
                                        <input type="date" class="form-control" placeholder="请输入密码">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    var zTreeObj;
    // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
    var setting = {
        check: {
            enable: true,
            chkStyle: "checkbox"
        },
        view: {
            nameIsHTML: true, //允许name支持html
            selectedMulti: false,
            showIcon: false
        },
        edit: {
            enable: false,
            editNameSelectAll: false
        },
        data: {
            key:{
                name:"lableName"
            },
            simpleData: {
                enable: true,
                idKey: "lableId",
                pIdKey: "lableUpperId",
                rootPId: 0,
                upperId:'lableUpperId'
            }
        },
        callback: {
            onClick: zTreeOnClick
        },
        async: {
            enable: true,
            url: '/getLableTree',
        }
    };

    function zTreeOnClick(event, treeId, treeNode) {
        var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
        if (treeNode.checked){
            treeObj.checkNode(treeNode,false, true);
            remove(treeNode.lableName);
        }else {
            treeObj.checkNode(treeNode,true, true);
            $(custom(treeNode.lableName)).appendTo($('#box'));
        }
    }

    $(document).ready(function(){
        $.getJSON('/getLableTree',function (data) {
            zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, data);
            fuzzySearch('treeDemo','#key',null,true); //初始化模糊搜索方法
        })
    });
    
    function remove(name) {
        $("#box").find("span").each(function (index,element) {
            if($(element).text()==name){
                $(this).parent().parent().parent().remove();
            }
        })
    }

    function custom(name){
        var con = '<select class="form-control">\n' +
            '          <option>-请选择-</option>\n' +
            '          <option>AND</option>\n' +
            '          <option>OR</option>\n' +
            '      </select>'
        var tou = '<div class="row"><div class="form-group"><div class="input-group">';
        var main = '<span class="input-group-addon">'+name+'</span>\n' +
        '                 <select class="form-control">\n' +
        '                   <option>-请选择-</option>\n' +
        '                   <option>等于</option>\n' +
        '                   <option>大于</option>\n' +
        '                   <option>小于</option>\n' +
        '                 </select>\n' +
        '               <div class="input-group-addon"></div>\n' +
            '          <input class="form-control">\n' +
            '       </div>\n' +
            '     </div>\n' +
            '   </div>';
        if ($('#box').find('.row').length!=0){
            return tou+con+main;
        }
        return tou+main;
    }


    $(function () {

        $(document).on("click",".showPage",function () {
            showPage(this.value);
        })

        function showPage(name) {
            var a = $("#planContainer").children("div");
            a.each(function () {
                if (this.id==name){
                    $("#"+name+"").css("display","block");
                }else {
                    $("#"+this.id+"").css("display","none");
                }
            })
        }
    })

</script>
</html>