<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>随访组管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap-table.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-table.js"></script>
    <script src="/js/bootstrap-table-zh-CN.js"></script>
    <link rel="stylesheet" href="/css/hospital.css">
</head>
<body>
<div th:replace="navigation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h3>随访组管理      <small><a href="/newGroup">新建随访组</a></small></h3>

            <hr>
            <div class="col-xs-12 col-md-12" style="background-color: #e0f3f8">
                <div  style="padding: 10px">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">负责人</div>
                                    <input type="text" class="form-control" id="groupPrincipal" placeholder="Amount">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-lg-offset-1">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">科室</div>
                                    <select class="form-control" id="dictionaryName">
                                        <option value="">请选择</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-lg-offset-1">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">状态</div>
                                    <select class="form-control" id="groupState">
                                        <option value="">请选择</option>
                                        <option value="1">开放</option>
                                        <option value="0">关闭</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 20px">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <div class="input-group">

                                    <div class="input-group-addon">创建时间</div>
                                    <input type="date" class="form-control" id="time1" placeholder="Amount">
                                    <div class="input-group-addon">~</div>
                                    <input type="date" class="form-control" id="time2" placeholder="Amount">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6" style="padding-left: 400px">
                            <button type="reset" class="btn btn-info" onclick="empty()">清空</button>
                            <button type="submit" class="btn btn-info" id="search">检索</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="tableL01"></table>
            </div>

        </div>
    </div>
</div>
<div id="toolbar">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">编辑</button>
    <button type="button" class="btn btn-danger">删除</button>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">随访组编辑</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-5 col-xs-offset-1">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">责任医院</div>
                                <select class="form-control">
                                    <option value="">-请选择-</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">责任科室</div>
                                <select class="form-control">
                                    <option value="">-请选择-</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 col-xs-offset-1">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">负责人</div>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">级别</div>
                                <select class="form-control">
                                    <option value="">-请选择-</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">名称</div>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 col-xs-offset-1">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">联系电话</div>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">状态</div>
                                <select class="form-control">
                                    <option value="">-请选择-</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 col-xs-offset-1">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">开始日期</div>
                                <input type="date" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">结束日期</div>
                                <input type="date" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 col-xs-offset-1">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">课题编号</div>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">患者数量</div>
                                <input type="number" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">对照组</div>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">背景</div>
                                <textarea type="text" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info">保存</button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(function () {
        var tableColumns = [
            {checkbox: true},
            {field: 'groupName', title: '名称',align:'center', sortable: true},
            {field: 'groupNum', title: '入组率',align:'center', sortable: true},
            {field: 'groupPrincipal', title: '负责人',align:'center' ,sortable: true},
            {field: 'groupState', title: '状态',align:'center', sortable: true ,formatter : function (value, row, index) {
                    return value==true||value=='true' ? '开放' : '关闭';
                }},
            {field: 'dictionaryName', title: '科室',align:'center', sortable: true},
            {field: 'groupStartTime', title: '创建时间',align:'center', sortable: true}];

        $('#tableL01').bootstrapTable('destroy');   //动态加载表格之前，先销毁表格

        $('#tableL01').bootstrapTable({//表格初始化
            columns: tableColumns,  //表头
            /*data:data1, //通过ajax返回的数据*/
            width:300,
            height:400,
            url:'findAllGroups',
            method: 'get',
            pageNumber: 1,
            cache: false,
            striped: true,
            pagination: true,
            sidePagination: 'client',
            pageSize: 5,//单页记录数
            pageList: [5, 10, 20, 30],//可选择单页记录数
            search: false,
            theadClasses: "thead-blue",
            showRefresh: false,
            showExport: false,
            showFooter: true,
            clickToSelect: true,
            toolbar:'#toolbar',
            onClickCell: function(params){
                location.href="/one";
            },
            queryParams: function queryParams(params){
                var param = {
                    pageNumber: params.pageNumber,
                    pageSize: params.pageSize,
                    sortName: params.sortName,
                    sortOrder: params.sortOrder,
                    groupPrincipal:$("#groupPrincipal").val(),
                    dictionaryId:$("#dictionaryName").val(),
                    groupState:$("#groupState").val(),
                    time1:$("#time1").val(),
                    time2:$("#time2").val(),
                };
                return param;
            }

        })
        $(document).on('click', "#search",function(){
            $('#tableL01').bootstrapTable('refresh');
        });
        selectDiceionary();
    })
    function selectDiceionary(){
        $.get("findAllDepartment",{},function(rs){
            if(rs !=null){
                var aa=$("#dictionaryName");
                for(var i=0;i<rs.length;i++){
                    var varoption=$("<option value="+rs[i].dictionaryId+">"+rs[i].dictionaryName+"</option>");
                    aa.append(varoption);
                }
            }

        })
    }
    function empty(){
        $("#groupPrincipal").val("");
        $("#dictionaryName").val("");
        $("#groupState").val("");
        $("#time1").val("");
        $("#time2").val("");
    }
</script>

</html>