<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>模板列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap-table.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-table.js"></script>
    <script src="/js/bootstrap-table-zh-CN.js"></script>
    <link rel="stylesheet" href="/css/hospital.css">
    <script src="https://use.fontawesome.com/38f0aa120f.js"></script>
    <link rel="stylesheet" href="/css/selectcheck.css">
    <script src="/js/selectcheck.js"></script>
</head>
<body>
<div th:replace="navigation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div style="padding-top: 20px">
                <a href="javascript:history.back(-1)"><span class="glyphicon glyphicon-arrow-left"></span>返回随访组</a>
                <h3 align="center">模板设置</h3>
                <hr>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <button type="button" class="btn btn-info"><a th:href="@{'/design?tempId=&departmentId='+${departmentId}}" style="color: white">创建模板</a></button>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="table"></table>
            </div>

        </div>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination" id="qian">
        </ul>
    </nav>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">共享到</h4>
            </div>
            <div class="modal-body">
                <select id="range"  multiple="multiple" class="medication">
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" id="pSave" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">

    $(function () {
        var tableColumns = [
            {field: 'templateName', title: '模板名称',align:'center'},
            {field: 'updateTime', title: '更新日期',align:'center'},
            {field: 'updatePeople', title: '更新者',align:'center'},
            {field: 'templateSettingVersion', title: '版本号',align:'center'},
            {field: 'templateSettingCreateTime', title: '创建日期',align:'center'},
            {field: 'templateSettingState', title: '状态',align:'center',formatter:function (value) {
                    switch (value) {
                        case 0:
                            return "当前版本";
                        case 1:
                            return "未发布";
                        case 2:
                            return "历史版本";
                    }
                }},
            {field: 'operate', title: '操作',align:'center', events: 'operateEvents',formatter: function (value) {
                    return [
                        '<button type="button" class="RoleOfLook btn btn-default btn-sm" style="margin-right:15px;"><i class="fa fa-search"></i></button>',
                        '<button type="button" class="RoleOfB btn btn-default btn-sm" style="margin-right:15px;"><i class="fa fa-pencil"></i></button>',
                        '<button type="button" class="RoleOfC btn btn-default btn-sm" style="margin-right:15px;"><i class="fa fa-plus"></i></button>',
                        '<button type="button" class="RoleOfD btn btn-default btn-sm" style="margin-right:15px;"><i class="fa fa-close"></i></button>'
                    ].join('');
                }}
        ];


        window.operateEvents = {
            'click .RoleOfLook': function (e, value, row, index) {
                window.location.href="/design?tempId="+row.templateId+"&departmentId="+[[${departmentId}]];
            },
            'click .RoleOfB': function (e, value, row, index) {
                alert("B");
            },
            'click .RoleOfC': function (e, value, row, index) {
                $('#range').empty();
                $('#range').append('<option value="'+[[${departmentId}]]+'">本科室</option>');
                $('#range').append('<option value="2">全院</option>');
                $.getJSON('/findAllDepartment',function (res) {
                    var check = row.templateRange.split(',');
                    for (var i=0;i<res.length;i++){
                        if(res[i].dictionaryId==[[${departmentId}]]){
                            continue;
                        }
                        $('#range').append('<option value="'+res[i].dictionaryId+'">'+res[i].dictionaryName+'</option>');
                    }
                    for (var j=0;j<check.length;j++){
                        $('#range').find('option[value='+check[j]+']').attr("selected","selected");
                    }
                    $('#range').fSelect();
                    $('#range').fSelect('destroy');
                    $('#range').fSelect('create');
                    $('#myModal').modal();
                })

                $('#pSave').click(function () {
                    var departmentIds = "";
                    $('.fs-options').find('div.selected').each(function (index) {
                        if (index==0){
                            departmentIds+=$(this).attr("data-value");
                        }else {
                            departmentIds+=","+$(this).attr("data-value");
                        }
                    });
                    $.getJSON('/setTempRange',{"tempId":row.templateId,"departmentIds":departmentIds},function (res) {
                        $('#myModal').modal('toggle');
                        alert(res.mes);
                        $('#table').bootstrapTable('refresh');
                    })
                })
            },
            'click .RoleOfD': function (e, value, row, index) {
                if(confirm("真的要删除么？")){
                    $.getJSON('/delTemplate',{"tempId":row.templateId},function (res) {
                        alert(res.mes);
                        $('#table').bootstrapTable('refresh');
                    })
                }

            }
        };

        $('#table').bootstrapTable('destroy');   //动态加载表格之前，先销毁表格

        $('#table').bootstrapTable({//表格初始化
            columns: tableColumns,  //表头
            method: 'get',
            url:"/tempListDate?departmentId="+[[${departmentId}]],
            pageNumber: 1,
            theadClasses: "thead-blue",
            cache: false,
            striped: true,
            pagination: true,
            sidePagination: 'client',
            pageSize: 5,//单页记录数
            pageList: [5, 10, 20, 30],//可选择单页记录数
            search: false,
            showRefresh: false,
            showExport: false,
            showFooter: true,
            clickToSelect: true,
            /*onLoadSuccess: function (data1) {
                alert("aaa");
                mergeCells(data1, "name", $("#table"));
            },*/
        });

        function mergeCells(data, fieldName, target) {
            setTimeout(function () {
                if (data.rows.length == 0) {
                    return;
                }
                var numArr = [];
                var number=0;
                var classzhi='dan';
                if( data.rows.length>1){
                    for (let i = 0; i < data.rows.length; i++) {
                        if(data.rows[i][fieldName]!='' && data.rows[i][fieldName]!='-'){
                            if(data.rows[i-1]){
                                if(data.rows[i-1][fieldName]!='' && data.rows[i-1][fieldName]!='-'){
                                    if(data.rows[i-1][fieldName]==data.rows[i][fieldName]){
                                        number++
                                    }
                                    else{
                                        number=number+1
                                        numArr.push({index:i-number,number:number,pan:'1'})
                                        number=0
                                    }
                                }
                            }
                            if(!data.rows[i+1]){
                                number=number
                                numArr.push({index:i-number,number:number+1,pan:'2'})
                                number=0
                            }else{
                                if(data.rows[i+1][fieldName]=='' || data.rows[i+1][fieldName]=='-'){
                                    number=number
                                    numArr.push({index:i-number,number:number+1,pan:'3'})
                                    number=0
                                }
                            }
                        }else{
                            numArr.push({index:i,number:1,pan:'4'})
                        }
                    }
                }else{
                    numArr.push({index:0,number:1,pan:'5'})
                }
                // console.log(numArr);
                for (let x = 0; x < numArr.length; x++) {
                    if(x%2){
                        for(let y=0;y<numArr[x]['number'];y++){
                            $(target).children('tbody').children('tr').eq(numArr[x]['index']+y).css('background','#ccc')
                        }
                    }else{
                        for(let y=0;y<numArr[x]['number'];y++){
                            $(target).children('tbody').children('tr').eq(numArr[x]['index']+y).css('background','#FFF')
                        }
                    }
                    $(target).bootstrapTable('mergeCells', { index: numArr[x]['index'], field: fieldName, colspan: 1, rowspan: numArr[x]['number']});
                }
            },0)
        }

    })

</script>
</html>