<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hospital.dao.DictionaryMapper">
  <resultMap id="BaseResultMap" type="com.example.hospital.model.Dictionary">
    <id column="dictionary_id" jdbcType="INTEGER" property="dictionaryId" />
    <result column="dictionary_name" jdbcType="VARCHAR" property="dictionaryName" />
    <result column="one_id" jdbcType="INTEGER" property="oneId" />
    <result column="two_id" jdbcType="INTEGER" property="twoId" />
  </resultMap>
  <sql id="Base_Column_List">
    dictionary_id, dictionary_name, one_id, two_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dictionary
    where dictionary_id = #{dictionaryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dictionary
    where dictionary_id = #{dictionaryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.hospital.model.Dictionary">
    insert into dictionary (dictionary_id, dictionary_name, one_id, 
      two_id)
    values (#{dictionaryId,jdbcType=INTEGER}, #{dictionaryName,jdbcType=VARCHAR}, #{oneId,jdbcType=INTEGER}, 
      #{twoId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.hospital.model.Dictionary">
    insert into dictionary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dictionaryId != null">
        dictionary_id,
      </if>
      <if test="dictionaryName != null">
        dictionary_name,
      </if>
      <if test="oneId != null">
        one_id,
      </if>
      <if test="twoId != null">
        two_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dictionaryId != null">
        #{dictionaryId,jdbcType=INTEGER},
      </if>
      <if test="dictionaryName != null">
        #{dictionaryName,jdbcType=VARCHAR},
      </if>
      <if test="oneId != null">
        #{oneId,jdbcType=INTEGER},
      </if>
      <if test="twoId != null">
        #{twoId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.hospital.model.Dictionary">
    update dictionary
    <set>
      <if test="dictionaryName != null">
        dictionary_name = #{dictionaryName,jdbcType=VARCHAR},
      </if>
      <if test="oneId != null">
        one_id = #{oneId,jdbcType=INTEGER},
      </if>
      <if test="twoId != null">
        two_id = #{twoId,jdbcType=INTEGER},
      </if>
    </set>
    where dictionary_id = #{dictionaryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.hospital.model.Dictionary">
    update dictionary
    set dictionary_name = #{dictionaryName,jdbcType=VARCHAR},
      one_id = #{oneId,jdbcType=INTEGER},
      two_id = #{twoId,jdbcType=INTEGER}
    where dictionary_id = #{dictionaryId,jdbcType=INTEGER}
  </update>
  <!--查询科室-->
  <select id="selectAll" resultMap="BaseResultMap">
      select dictionary_name,dictionary_id from dictionary where two_id IN('11100','11200','11300','11400','11500','11600','11700','11800','11900')
  </select>
  <!--查询医院-->
  <select id="selectAll1" resultMap="BaseResultMap">
    select dictionary_name,dictionary_id from dictionary where one_id=19000
  </select>
  <!--查询级别-->
  <select id="selectAll2" resultMap="BaseResultMap">
    select dictionary_name,dictionary_id from dictionary where one_id=21000
  </select>
</mapper>