<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hospital.dao.LableMapper">
  <resultMap id="BaseResultMap" type="com.example.hospital.model.Lable">
    <id column="lable_id" jdbcType="INTEGER" property="lableId" />
    <result column="lable_name" jdbcType="VARCHAR" property="lableName" />
    <result column="lable_type" jdbcType="VARCHAR" property="lableType" />
    <result column="lable_upper_id" jdbcType="INTEGER" property="lableUpperId" />
    <result column="lable_create_time" jdbcType="TIMESTAMP" property="lableCreateTime" />
    <result column="lable_create_user_id" jdbcType="INTEGER" property="lableCreateUserId" />
    <result column="check_state" jdbcType="TINYINT" property="checkState" />
    <result column="conditions" jdbcType="VARCHAR" property="conditions" />
  </resultMap>
  <sql id="Base_Column_List">
    lable_id, lable_name, lable_type, lable_upper_id, lable_create_time,
    lable_create_user_id, check_state, conditions
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `lable`
    where lable_id = #{lableId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `lable`
    where lable_id = #{lableId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.hospital.model.Lable">
    insert into `lable` (lable_id, lable_name, lable_type,
      conditions)
    values (#{lableId,jdbcType=INTEGER}, #{lableName,jdbcType=VARCHAR}, #{lableType,jdbcType=VARCHAR}, 
      #{conditions,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.hospital.model.Lable">
    insert into `lable`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lableId != null">
        lable_id,
      </if>
      <if test="lableName != null">
        lable_name,
      </if>
      <if test="lableType != null">
        lable_type,
      </if>
      <if test="conditions != null">
        conditions,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lableId != null">
        #{lableId,jdbcType=INTEGER},
      </if>
      <if test="lableName != null">
        #{lableName,jdbcType=VARCHAR},
      </if>
      <if test="lableType != null">
        #{lableType,jdbcType=VARCHAR},
      </if>
      <if test="conditions != null">
        #{conditions,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.hospital.model.Lable">
    update `lable`
    <set>
      <if test="lableName != null">
        lable_name = #{lableName,jdbcType=VARCHAR},
      </if>
      <if test="lableType != null">
        lable_type = #{lableType,jdbcType=VARCHAR},
      </if>
      <if test="lableUpperId != null">
        lable_upper_id = #{lableUpperId},
      </if>
      <if test="checkState != null">
        check_state = #{checkState},
      </if>
      <if test="conditions != null">
        conditions = #{conditions,jdbcType=VARCHAR},
      </if>
    </set>
    where lable_id = #{lableId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.hospital.model.Lable">
    update `lable`
    set lable_name = #{lableName,jdbcType=VARCHAR},
      lable_type = #{lableType,jdbcType=VARCHAR},
      conditions = #{conditions,jdbcType=VARCHAR}
    where lable_id = #{lableId,jdbcType=INTEGER}
  </update>

  <resultMap id="pro" type="com.example.hospital.dto.LablePro" extends="BaseResultMap">
    <result column="user_name" property="userName" />
    <result column="department" property="department" />
  </resultMap>
    
    <select id="selectAll" resultMap="pro">
      SELECT
          l.*, u.user_name,
          d.dictionary_name AS department
      FROM
          `lable` l,
          `user` u,
          `dictionary` d
      WHERE
          l.lable_create_user_id = u.user_id
      AND u.department_id = d.dictionary_id
    </select>

    <select id="selectSome" resultMap="BaseResultMap">
            SELECT
          l.*
      FROM
          lable l,
          template_set s
      WHERE
          l.lable_id = s.lable_id
      AND s.temp_id = #{tempId}
    </select>

  <select id="selectOneLevel" resultMap="BaseResultMap">
    SELECT * FROM `lable` WHERE lable_upper_id = 0
  </select>
</mapper>