<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hospital.mapper.SelectRoleMapper">
  <resultMap id="BaseResultMap" type="com.example.hospital.model.SelectRole">
    <id column="select_role_id" jdbcType="INTEGER" property="selectRoleId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="menu" jdbcType="VARCHAR" property="menu" />
  </resultMap>
  <sql id="Base_Column_List">
    select_role_id, role_id, menu_name, menu
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from select_role
    where select_role_id = #{selectRoleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from select_role
    where select_role_id = #{selectRoleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.hospital.model.SelectRole">
    insert into select_role (select_role_id, role_id, menu_name, 
      menu)
    values (#{selectRoleId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, 
      #{menu,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.hospital.model.SelectRole">
    insert into select_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="selectRoleId != null">
        select_role_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="menuName != null">
        menu_name,
      </if>
      <if test="menu != null">
        menu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="selectRoleId != null">
        #{selectRoleId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menu != null">
        #{menu,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.hospital.model.SelectRole">
    update select_role
    <set>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="menuName != null">
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menu != null">
        menu = #{menu,jdbcType=VARCHAR},
      </if>
    </set>
    where select_role_id = #{selectRoleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.hospital.model.SelectRole">
    update select_role
    set role_id = #{roleId,jdbcType=INTEGER},
      menu_name = #{menuName,jdbcType=VARCHAR},
      menu = #{menu,jdbcType=VARCHAR}
    where select_role_id = #{selectRoleId,jdbcType=INTEGER}
  </update>
</mapper>