<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hospital.dao.SelectTemplateMapper">
  <resultMap id="BaseResultMap" type="com.example.hospital.model.SelectTemplate">
    <id column="st_id" jdbcType="INTEGER" property="stId" />
    <result column="select_template_id" jdbcType="INTEGER" property="selectTemplateId" />
    <result column="select_rule_id" jdbcType="INTEGER" property="selectRuleId" />
    <result column="template_id" jdbcType="INTEGER" property="templateId" />
  </resultMap>
  <sql id="Base_Column_List">
    st_id, select_template_id, select_rule_id, template_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `select_template`
    where st_id = #{stId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `select_template`
    where st_id = #{stId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.hospital.model.SelectTemplate">
    insert into `select_template` (st_id, select_template_id, select_rule_id,
      template_id)
    values (#{stId,jdbcType=INTEGER}, #{selectTemplateId,jdbcType=INTEGER}, #{selectRuleId,jdbcType=INTEGER}, 
      #{templateId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.hospital.model.SelectTemplate">
    insert into `select_template`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stId != null">
        st_id,
      </if>
      <if test="selectTemplateId != null">
        select_template_id,
      </if>
      <if test="selectRuleId != null">
        select_rule_id,
      </if>
      <if test="templateId != null">
        template_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stId != null">
        #{stId,jdbcType=INTEGER},
      </if>
      <if test="selectTemplateId != null">
        #{selectTemplateId,jdbcType=INTEGER},
      </if>
      <if test="selectRuleId != null">
        #{selectRuleId,jdbcType=INTEGER},
      </if>
      <if test="templateId != null">
        #{templateId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.hospital.model.SelectTemplate">
    update `select_template`
    <set>
      <if test="selectTemplateId != null">
        select_template_id = #{selectTemplateId,jdbcType=INTEGER},
      </if>
      <if test="selectRuleId != null">
        select_rule_id = #{selectRuleId,jdbcType=INTEGER},
      </if>
      <if test="templateId != null">
        template_id = #{templateId,jdbcType=INTEGER},
      </if>
    </set>
    where st_id = #{stId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.hospital.model.SelectTemplate">
    update `select_template`
    set select_template_id = #{selectTemplateId,jdbcType=INTEGER},
      select_rule_id = #{selectRuleId,jdbcType=INTEGER},
      template_id = #{templateId,jdbcType=INTEGER}
    where st_id = #{stId,jdbcType=INTEGER}
  </update>
</mapper>